LinKreta_POC_Repository/force-app/main/default/flows/Account_Name_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Submit_for_Approva</name>
        <label>Copy 1 of Submit for Approva</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>get_Account_Request.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DS_Team_Account_Name_Change_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approva</name>
        <label>Submit for Approva</label>
        <locationX>2206</locationX>
        <locationY>1406</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>createdRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DS_Team_Account_Name_Change_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Account_Request</name>
        <label>Update Account Request</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>get_Account_Request.Proposed_Name_New_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Account_Request.Reason_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Account_Request.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Account_Request.Requested_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Account_Request.isNameChangeCompleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_content_Version</name>
        <label>Check content Version</label>
        <locationX>2206</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Name_Change_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Yes_Check_content_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>IF Yes Check content Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Name_Change</name>
        <label>For Greylist Account</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Greylist_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greylist Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>greyListScreenShowToastEvent</targetReference>
            </connector>
            <label>if Greylist Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>EA_Login</name>
        <label>EA Login</label>
        <locationX>2591</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>EA_Login_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Client.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userPartnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Client.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Change</name>
        <label>Name Change</label>
        <locationX>1524</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_old_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_File</targetReference>
            </connector>
            <label>Update old Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Already_Exists</name>
        <label>Record Already Exists</label>
        <locationX>1612</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Greylist_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greylist Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Request</targetReference>
            </connector>
            <label>For Greylist Account</label>
        </rules>
        <rules>
            <name>Completed_Name_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.isNameChangeCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_already_exists_Message</targetReference>
            </connector>
            <label>Completed Name Change Request</label>
        </rules>
        <rules>
            <name>Not_Completed_Name_Change_Request_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.isNameChangeCompleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account_Request.Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Change</targetReference>
            </connector>
            <label>Not Completed Name Change Request Not Completed</label>
        </rules>
        <rules>
            <name>Create_New_Reques</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account_Request</targetReference>
            </connector>
            <label>Create New Reques</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_Check_content_Version</name>
        <label>update Check content Version</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_no_content_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_screen</targetReference>
            </connector>
            <label>Update no content Version</label>
        </rules>
    </decisions>
    <description>account name change request</description>
    <dynamicChoiceSets>
        <name>TypeValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Account_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>userPartnerId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.PartnerLogin_UserID__c})</expression>
    </formulas>
    <interviewLabel>Account Name Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account Name Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Request</name>
        <label>Create Account Request</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>createdRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Name_Change</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Name_New_Name__c</field>
            <value>
                <elementReference>Proposed_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Description__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account_Request</name>
        <label>Create New Account Request</label>
        <locationX>2206</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>createdRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>File</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Name_New_Name__c</field>
            <value>
                <elementReference>Proposed_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Description__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Requests__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Request</name>
        <label>get Account Request</label>
        <locationX>1612</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Already_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Name Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Requests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>2591</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Name_Change_completed</name>
        <label>Update Name Change completed</label>
        <locationX>2206</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>NameChangeShowToastMessage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isNameChangeCompleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Requests__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>1238</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>UpdateNameChangeShowToastMessage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>get_Account_Request</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Request</name>
        <label>Account Request</label>
        <locationX>1612</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Account_Request</targetReference>
        </connector>
        <fields>
            <name>Account_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>TypeValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Proposed_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Proposed Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Name Change</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reason</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EA_Login_Error</name>
        <label>EA Login Error</label>
        <locationX>3570</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EA_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(250, 3, 3);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(234, 12, 12);&quot;&gt;You do not have access for account name change request&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Name_Change_completed</targetReference>
        </connector>
        <fields>
            <name>errorMessageContentVersion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 10, 10);&quot;&gt;Please upload a  document &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File</name>
        <label>File</label>
        <locationX>2206</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_content_Version</targetReference>
        </connector>
        <fields>
            <name>uploadFile</name>
            <extensionName>c:fileUploadComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>createdRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentVersionId</assignToReference>
                <name>contentVersionId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>greyListScreenShowToastEvent</name>
        <label>greyListScreenShowToastEvent</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eventShowToast</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Greylist Account request initiated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>target</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NameChangeShowToastMessage</name>
        <label>NameChangeShowToastMessage</label>
        <locationX>2206</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_for_Approva</targetReference>
        </connector>
        <fields>
            <name>tost</name>
            <extensionName>c:showToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Request sent to DS team for verification. An email will be sent to you upon status of the request.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_already_exists_Message</name>
        <label>Record already exists Message</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 12, 12);&quot;&gt;The record has already been initiated and awaiting approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Error_screen</name>
        <label>Update Error screen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_Request</targetReference>
        </connector>
        <fields>
            <name>UpdaeerrorMessageContentVersion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 10, 10);&quot;&gt;Please upload a  document &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_File</name>
        <label>Update File</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Check_content_Version</targetReference>
        </connector>
        <fields>
            <name>UpdateuploadFile</name>
            <extensionName>c:fileUploadComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>get_Account_Request.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentVersionId</assignToReference>
                <name>contentVersionId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateNameChangeShowToastMessage</name>
        <label>UpdateNameChangeShowToastMessage</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Submit_for_Approva</targetReference>
        </connector>
        <fields>
            <name>Update_tost</name>
            <extensionName>c:showToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Request sent to DS team for verification. An email will be sent to you upon status of the request.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2465</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createdRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
