LinKreta_POC_Repository/force-app/main/default/flows/Account_Team_Member_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CheckBox_Mark_True</name>
        <label>CheckBox Mark True</label>
        <locationX>402</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>CTMRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_CTM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CTMRecord.System_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeleteRecCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CTMRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_CLientIDs</name>
        <label>Collect CLientIDs</label>
        <locationX>402</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>CLientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_CLients.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_CLients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Of_GT_Client_Group_Ids</name>
        <label>Collection Of GT Client Group Ids</label>
        <locationX>402</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>gtCLientGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Gt_CLient_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Gt_CLient_Group</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error_Message</name>
        <label>Custom Error Message</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <customErrorMessages>
            <errorMessage>Cannot delete his own team member, as key account is added as client due to bad data.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Handle_Message</name>
        <label>Error Handle Message</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <customErrorMessages>
            <errorMessage>Cannot delete his own team member, as key account is added as client due to bad data.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>if_CSl_Co_Csl_List_Is_Not_Empty</name>
        <label>if CSl/Co-Csl List Is Not Empty</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteRecCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_records</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Team_Role_CSL_COCSl</name>
        <label>If Team Role CSL/COCSl</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_Match</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gt_Client_Records</targetReference>
            </connector>
            <label>Role Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Team Member(Delete) Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member(Delete) Flow</label>
    <loops>
        <name>Loop_On_CLients</name>
        <label>Loop On CLients</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <collectionReference>get_CLient_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_CLientIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_CO_CSL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_CTM</name>
        <label>Loop On CTM</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <collectionReference>get_CO_CSL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckBox_Mark_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_get_CO_CSL_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Gt_CLient_Group</name>
        <label>Loop On Gt CLient Group</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Gt_Client_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collection_Of_GT_Client_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_CLient_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_records</name>
        <label>delete records</label>
        <locationX>50</locationX>
        <locationY>1835</locationY>
        <faultConnector>
            <targetReference>Custom_Error_Message</targetReference>
        </faultConnector>
        <inputReference>DeleteRecCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_CLient_Records</name>
        <label>get CLient Records</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_CLients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GT_Client_Group__c</field>
            <operator>In</operator>
            <value>
                <elementReference>gtCLientGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CO_CSL</name>
        <label>get COCSL/CSL</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_CTM</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CLientIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – Co-CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gt_Client_Records</name>
        <label>Get Gt Client Records</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Gt_CLient_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_360__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_get_CO_CSL_List</name>
        <label>Update get_CO_CSL List</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>if_CSl_Co_Csl_List_Is_Not_Empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handle_Message</targetReference>
        </faultConnector>
        <inputReference>DeleteRecCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Team_Role_CSL_COCSl</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CLientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>DeleteRecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>gtCLientGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
