LinKreta_POC_Repository/force-app/main/default/flows/Case_After_Insert_New_Case_Creation_Notification_to_Outbound_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_Outbound_Team</name>
        <label>Notification to Outbound Team</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>Case.Preliminary_New_Client_Notification_to_Outbound_Team</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Preliminary_New_Client_Notification_to_Outbound_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Thank_You_Email_Prospect</name>
        <label>Send Thank You Email | Prospect</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>SendEmailsWithTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notification_to_Outbound_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesList</name>
            <value>
                <elementReference>User_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Email_Template_to_Send_Thank_You_Email_Prospect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailsWithTemplate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Prospect_Email</name>
        <label>Assign Prospect Email</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Thank_You_Email_Prospect</targetReference>
        </connector>
    </assignments>
    <description>This flow is used to send an Email Notification to the Outbound Team upon case creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaforRecordPageLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Case - After Insert | New Case Creation Notification to Outbound Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Insert | New Case Creation Notification to Outbound Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Prospect_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi All,&lt;/p&gt;&lt;p&gt;The following detail for a new case created -&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 13px;&quot;&gt;Preliminary New Clients Number : {!$Record.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 13px;&quot;&gt;Client Name : {!$Record.Client_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 13px;&quot;&gt;Subject : {!$Record.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Status : {!$Record.Status}&lt;/p&gt;&lt;p&gt;Detail Link : {!FormulaforRecordPageLink}&lt;/p&gt;&lt;p&gt;Thanks &amp;amp; Regards&lt;/p&gt;&lt;p&gt;GT Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A New Case Created</text>
    </textTemplates>
    <textTemplates>
        <name>ThankYouEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.SuppliedName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Thank you for contacting Grant Thornton Bharat. We are delighted to hear from you and appreciate your interest in our services.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;One of our representatives will get in touch with you shortly to discuss your needs and requirements. In the interim, please feel free to browse our website to learn more about our firm and the range of services we offer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;If you have any questions or concerns in the meantime, please do not hesitate to reach out to us at contact@in.gt.com.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Thank you again for considering Grant Thornton Bharat for your professional needs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;The Grant Thornton Bharat Team&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ListOfRecipientEmailIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Member_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
