LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Submit_for_DS_Team_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_For_DS_Team_Approval</name>
        <label>Submit For DS Team Approval</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_client_contact_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DS_Team_Contact_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>This decision box is used to check criteria for DS Team Approval.</description>
        <name>Check_record_eligibility_for_approval</name>
        <label>Check record eligibility for approval</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Stop_Submission_RequiredFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required fields missing</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 23) AND (6 OR 20 OR 21 OR 22) AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13 AND 14 AND 15 AND 16 AND 17 AND 18 AND 19</conditionLogic>
            <conditions>
                <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending with DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DS Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Pick_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GT DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Linkedin_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Designation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Contact_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.RelationshipOffice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Client_Location__PostalCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Client_Location__CountryCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Client_Location__Street__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Client_Location__City__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Contact_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending DS Team Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Partner_Login_User_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GT DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Partner_Login_User_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerLoginId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DS_Team_Approval_Comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 9) OR (5 AND 6 AND 7 AND 8 )</conditionLogic>
            <conditions>
                <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Pick_Record__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GT DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Partner_Login_User_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Partner_Login_User_Profile__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GT DS Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerLoginId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Submission</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Invalid_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_client_contact_record.Contact_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending DS Team Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Status_Screen</targetReference>
            </connector>
            <label>Invalid Status</label>
        </rules>
    </decisions>
    <description>This flow is used to submit request for DS Team approval.</description>
    <environments>Default</environments>
    <formulas>
        <description>This variable contains 18 digit Id of current user which will be used further to compare current user with record owner.</description>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>PartnerLoginId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.PartnerLogin_UserID__c})</expression>
    </formulas>
    <formulas>
        <name>User_is_System_Admin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos;</expression>
    </formulas>
    <interviewLabel>Client Contact | Submit for DS Team Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Client Contact | Submit for DS Team Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_client_contact_record</name>
        <label>Get client contact record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_user_profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_user_profile</name>
        <label>Get current user profile</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_eligibility_for_approval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Handler_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DS_Team_Approval_Comments</name>
        <label>DS Team Approval Comments</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Submit_For_DS_Team_Approval</targetReference>
        </connector>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;Comments should be less than 4000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt;= 4000</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Handler_Screen</name>
        <label>Fault Handler Screen</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status_Screen</name>
        <label>Invalid Status Screen</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidStatusScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvalidStatusScreenBody</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The Contact Status should be &quot;Pending DS Team Approval&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stop_Submission</name>
        <label>Stop Submission</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StopSubmission_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StopSubmission_RecordApproved_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Request Approved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;The request has been already approved. You can review the &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Approval History tab&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; for more details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DS Approved</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending with DS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StopSubmission_RecordPending_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(18, 16, 16);&quot;&gt;Request Pending Approval&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;This request has already been submitted and is currently pending for Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending with DS</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>DS Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stop_Submission_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stop_Submission_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StopSubmission_PickRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;The record is not picked by any DS Team member yet.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Pick_Record__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>CurrentUserId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StopSubmissionHeader_DSTeamValidation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Only DS Team members can submit the request for DS Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>DS Team</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>GT DS Team</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Pick_Record__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StopSubmission_AssginedMemberValidation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Only The Assigned DS Team member can submit the request for DS Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Assigned_to_DS_Team_Member__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>CurrentUserId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Pick_Record__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>GT DS Team</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_current_user_profile.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>DS Team</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending with DS</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>DS Approved</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_client_contact_record.DS_Team_Approval_Status__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Back to Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stop_Submission_RequiredFields</name>
        <label>Stop Submission_RequiredFields</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_StopSubmission_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stop_Submission_RequiredFields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stop_Submission_RequiredFields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqFieldValidation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;The following fields should be filled in before submitting an approval request for DS Approval : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField1</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Linkedin URL&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Linkedin_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField2</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;First Name&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.FirstName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField3</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Mobile Phone&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.MobilePhone</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField4</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Designation&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Designation__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField5</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Email&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Email</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField6</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Contact Status&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Contact_status__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField7</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Salutation&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Salutation</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField8</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Relationship Office&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.RelationshipOffice__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField9</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Client Location City&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Client_Location__City__s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField10</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Client Location Street&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Client_Location__Street__s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField11</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Client Location Country Code&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Client_Location__CountryCode__s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_StopSubmission_ReqField13</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;Client Location Postal Code&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Client_Location__PostalCode__s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>locationState</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;.Client Location Postal State&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_client_contact_record.Client_Location__StateCode__s</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Back to Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(32, 157, 61); font-size: 20px;&quot;&gt;SUCC&lt;/strong&gt;&lt;strong style=&quot;color: rgb(56, 212, 92); font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(32, 157, 61); font-size: 20px;&quot;&gt;ESS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessScreen_Body</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your request has been successfully submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_client_contact_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
