LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Update_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Client_Contact_Relationship_Team</name>
        <label>Send Email to Client Contact Relationship Team</label>
        <locationX>1634</locationX>
        <locationY>1008</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varSubject</name>
            <value>
                <stringValue>Birthday Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTemplateID</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_DS_Team_on_Client_Association</name>
        <label>Send Email to DS Team on Client Association</label>
        <locationX>699</locationX>
        <locationY>2424</locationY>
        <actionName>Contact.Email_Alert_for_DS_Team_Approval_Submission_on_Client_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_Survey_Score_is_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Email_Alert_for_DS_Team_Approval_Submission_on_Client_Contact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Client_Contact_Relationship_Team</name>
        <label>Send Notification to Client Contact Relationship Team</label>
        <locationX>1634</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Birthday Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Client_Contact_Relationship_Team2</name>
        <label>Send Notification to Client Contact Relationship Team</label>
        <locationX>699</locationX>
        <locationY>3132</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Segment_Leader_Mapping</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Survey Score updated on Client Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationSurveyUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_DS_Team_to_Pick_Record</name>
        <label>Send Notification to DS Team to Pick Record</label>
        <locationX>699</locationX>
        <locationY>2124</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_if_notification_need_to_be_sent_for_DS_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DSTeamActiveMemberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contact is ready to be picked</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotitficationBodyToPickRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Active_DS_Team_member_user_Id</name>
        <label>Add Active DS Team member user Id</label>
        <locationX>787</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>DSTeamActiveMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_on_Active_DS_Team_members_records_to_store_user_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_on_Active_DS_Team_members_records_to_store_user_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_DS_Team_member_user_Id</name>
        <label>Add DS Team member user Id</label>
        <locationX>787</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>DSTeamMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_DS_Team_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_DS_Team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Notification_and_Email_Recipients</name>
        <label>Add Notification and Email Recipients</label>
        <locationX>1722</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Notification_and_Email_Recipients2</name>
        <label>Add Notification and Email Recipients</label>
        <locationX>787</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team2.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_is_changing</name>
        <label>Check if Account is changing</label>
        <locationX>831</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Get_custom_notification2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Client_Contact_Directory_record_found_or_not</name>
        <label>Check if Client Contact Directory record found or not</label>
        <locationX>831</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Create_Client_Contact_Directory_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Client_Contact_Directory_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact_Directory_record</targetReference>
            </connector>
            <label>Yes-Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision box is used to send email to DS Team on client association to pick records.</description>
        <name>Check_if_notification_need_to_be_sent_for_DS_Team</name>
        <label>Check if notification need to be sent for DS Team</label>
        <locationX>831</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>Check_if_Survey_Score_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_the_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_DS_Team_on_Client_Association</targetReference>
            </connector>
            <label>Yes-Send the Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Survey_Score_is_updated</name>
        <label>Check if Survey Score is updated</label>
        <locationX>831</locationX>
        <locationY>2616</locationY>
        <defaultConnector>
            <targetReference>Segment_Leader_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_score_updated</name>
            <conditionLogic>(1 OR 2) OR (3 OR 4) OR (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Net_Promoter_Score__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Net_Promoter_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Net_Promoter_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Experience_Index__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Experience_Index__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Experience_Index__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Satisfaction_Index__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Satisfaction_Index__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Satisfaction_Index__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Contact_Relationship_Team2</targetReference>
            </connector>
            <label>Survey score updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pick_Record_Notification_to_be_sent_or_not</name>
        <label>Check Pick Record Notification to be sent or not</label>
        <locationX>831</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Check_if_notification_need_to_be_sent_for_DS_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_The_Notifications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Contact_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Contact Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending DS Team Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DS_Team_public_group</targetReference>
            </connector>
            <label>Yes-Send the Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segment_Leader</name>
        <label>Check Segment Leader</label>
        <locationX>380</locationX>
        <locationY>3648</locationY>
        <defaultConnector>
            <targetReference>Create_updated_Segment_Leaderr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have Not</defaultConnectorLabel>
        <rules>
            <name>If_Segment_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Relationship_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Updated_Segment_Leader</targetReference>
            </connector>
            <label>If Segment Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segment_Leader_found_in_contact_team</name>
        <label>Check Segment Leader found in contact team?</label>
        <locationX>974</locationX>
        <locationY>3540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Segment_Leader_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Relationship_TeamNull</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Prior_Segment_LeaderNull</targetReference>
            </connector>
            <label>Yes-Segment Leader found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Updated_Segment_Leader</name>
        <label>Check Updated Segment Leader</label>
        <locationX>182</locationX>
        <locationY>3756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Updated_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_updated_Segment_Leader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Prior_Segment_Leader</targetReference>
            </connector>
            <label>If Updated Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_Leader_Mapping</name>
        <label>Segment Leader Mapping</label>
        <locationX>831</locationX>
        <locationY>3324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_Leader_Update</name>
            <conditionLogic>(1 AND 2 AND 4) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Account_Segment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Account_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Account_Segment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Account_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Account_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Relationship_Team</targetReference>
            </connector>
            <label>Segment Leader Update</label>
        </rules>
        <rules>
            <name>Segment_Leader_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Account_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Relationship_TeamNull</targetReference>
            </connector>
            <label>Segment Leader Delete</label>
        </rules>
    </decisions>
    <description>This flow is used to perform update operations on client contact.
[Suraj Kumar 04-10-2023]: Removed Auto-approval for DS Team.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs and actions in fault path.
[Suraj Kumar 03-06-2024] : Added null check before deleting &quot;Segment Leaders&quot; in contact team.</description>
    <environments>Default</environments>
    <interviewLabel>Client Contact | Update Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Update Operations</label>
    <loops>
        <name>Loop_over_Client_Contact_Relationship_Team</name>
        <label>Loop over Client Contact Relationship Team</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Client_Contact_Relationship_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Notification_and_Email_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_custom_notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Client_Contact_Relationship_Team2</name>
        <label>Loop over Client Contact Relationship Team</label>
        <locationX>699</locationX>
        <locationY>2832</locationY>
        <collectionReference>Get_Client_Contact_Relationship_Team2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Notification_and_Email_Recipients2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_to_Client_Contact_Relationship_Team2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Used to filter out active users.</description>
        <name>Loop_over_DS_Team_members</name>
        <label>Loop over DS Team members</label>
        <locationX>699</locationX>
        <locationY>1416</locationY>
        <collectionReference>Get_DS_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_DS_Team_member_user_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_DS_Team_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_on_Active_DS_Team_members_records_to_store_user_Id</name>
        <label>Looping on Active DS Team members records to store user Id</label>
        <locationX>699</locationX>
        <locationY>1824</locationY>
        <collectionReference>Get_Active_DS_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Active_DS_Team_member_user_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_to_DS_Team_to_Pick_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Contact_Directory_record</name>
        <label>Create Client Contact Directory record</label>
        <locationX>963</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Check_if_Account_is_changing</targetReference>
        </connector>
        <inputAssignments>
            <field>Alternate_Email_ID__c</field>
            <value>
                <elementReference>$Record.AlternateEmailID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_to_DS_Team_Member__c</field>
            <value>
                <elementReference>$Record.Assigned_to_DS_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Date__c</field>
            <value>
                <elementReference>$Record.Assignment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOD_Flag__c</field>
            <value>
                <elementReference>$Record.BOD_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact_Birthday__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Birthday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Corporate_Address__c</field>
            <value>
                <elementReference>$Record.ClientCorporateAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Group_Name__c</field>
            <value>
                <elementReference>$Record.ClientGroupName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__City__s</field>
            <value>
                <elementReference>$Record.Client_Location__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__CountryCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.Client_Location__GeocodeAccuracy__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Latitude__s</field>
            <value>
                <elementReference>$Record.Client_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Longitude__s</field>
            <value>
                <elementReference>$Record.Client_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__PostalCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__StateCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Street__s</field>
            <value>
                <elementReference>$Record.Client_Location__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>$Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>$Record.Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_To_Receive_All_GT_Communication__c</field>
            <value>
                <elementReference>$Record.ConsentToReceiveAllGTCommunication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Background__c</field>
            <value>
                <elementReference>$Record.Background__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corridor__c</field>
            <value>
                <elementReference>$Record.Corridor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Code__c</field>
            <value>
                <elementReference>$Record.Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Corridor__c</field>
            <value>
                <elementReference>$Record.Country_Corridor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Directorship_Company_Name__c</field>
            <value>
                <elementReference>$Record.Current_Directorship_Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Directorship_Date_of_Appointment__c</field>
            <value>
                <elementReference>$Record.Current_Directorship_Date_of_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Experience_Index__c</field>
            <value>
                <elementReference>$Record.Customer_Experience_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Satisfaction_Index__c</field>
            <value>
                <elementReference>$Record.Customer_Satisfaction_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Rejection_Date__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Rejection_Remarks__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Status__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Line_Number__c</field>
            <value>
                <elementReference>$Record.DirectLineNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>$Record.Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Former_Directorship_Company_Name__c</field>
            <value>
                <elementReference>$Record.Former_Directorship_Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Former_Directorship_End_of_Tenure_Date__c</field>
            <value>
                <elementReference>$Record.Former_Directorship_End_of_Tenure_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Office__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Referral_Country__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referral_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Referring_Person_s_name__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referring_Person_s_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Alumni_Name__c</field>
            <value>
                <elementReference>$Record.GT_Alumni_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Alumni__c</field>
            <value>
                <elementReference>$Record.GT_Alumni__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Independent_Director_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Independent_Director_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intermediary_Referral_Firm_Name__c</field>
            <value>
                <elementReference>$Record.Intermediary_Referral_Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intermediary_Referral_Person_Name__c</field>
            <value>
                <elementReference>$Record.Intermediary_Referral_Person_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Bank_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Investment_Bank_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Bank_Firm_Name__c</field>
            <value>
                <elementReference>$Record.Investment_Bank_Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_GT_Employee__c</field>
            <value>
                <elementReference>$Record.IsGTEmployee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Name__c</field>
            <value>
                <elementReference>$Record.Key_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Sector__c</field>
            <value>
                <elementReference>$Record.Key_Account_Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Segment__c</field>
            <value>
                <elementReference>$Record.Key_Account_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Sub_Segment__c</field>
            <value>
                <elementReference>$Record.Key_Account_Sub_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_Identifier__c</field>
            <value>
                <elementReference>$Record.KeyContactIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__City__s</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.MailingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Latitude__s</field>
            <value>
                <elementReference>$Record.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Longitude__s</field>
            <value>
                <elementReference>$Record.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Street__s</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>$Record.Industry_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Promoter_Score__c</field>
            <value>
                <elementReference>$Record.Net_Promoter_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Engagement__c</field>
            <value>
                <elementReference>$Record.Pardot_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Record__c</field>
            <value>
                <elementReference>$Record.Pick_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Interest__c</field>
            <value>
                <elementReference>$Record.Professional_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rationale_for_Name_Change__c</field>
            <value>
                <elementReference>$Record.Rationale_for_Name_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Client__c</field>
            <value>
                <elementReference>$Record.Referral_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipOffice__c</field>
            <value>
                <elementReference>$Record.RelationshipOffice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Leader__c</field>
            <value>
                <elementReference>$Record.RelationshipLeader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reports_To__c</field>
            <value>
                <elementReference>$Record.ReportsToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Date__c</field>
            <value>
                <elementReference>$Record.ReviewDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Sector__c</field>
            <value>
                <elementReference>$Record.Sub_Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Segment__c</field>
            <value>
                <elementReference>$Record.Sub_segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$Record.VerifiedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_DS_Team_Date__c</field>
            <value>
                <elementReference>$Record.VerifiedDSTeamDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verrified_by_DS_Team__c</field>
            <value>
                <elementReference>$Record.VerrifiedByDSTeam__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCGT_Id__c</field>
            <value>
                <elementReference>$Record.WCGTId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Young_CSL__c</field>
            <value>
                <elementReference>$Record.YoungCSL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_Pardot_Last_Scored_At__c</field>
            <value>
                <elementReference>$Record.pi__Pardot_Last_Scored_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_comments__c</field>
            <value>
                <elementReference>$Record.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_conversion_date__c</field>
            <value>
                <elementReference>$Record.pi__conversion_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_created_date__c</field>
            <value>
                <elementReference>$Record.pi__created_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_first_activity__c</field>
            <value>
                <elementReference>$Record.pi__first_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_grade__c</field>
            <value>
                <elementReference>$Record.pi__grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_last_activity__c</field>
            <value>
                <elementReference>$Record.pi__last_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_notes__c</field>
            <value>
                <elementReference>$Record.pi__notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_score__c</field>
            <value>
                <elementReference>$Record.pi__score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>picampaignc__c</field>
            <value>
                <elementReference>$Record.pi__campaign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Contact_Directory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_updated_Segment_Leader</name>
        <label>Create updated Segment Leader</label>
        <locationX>50</locationX>
        <locationY>3972</locationY>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Read/Write</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>get_updated_Segment_Leader.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_updated_Segment_Leaderr</name>
        <label>Create updated Segment Leader</label>
        <locationX>578</locationX>
        <locationY>3756</locationY>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Read/Write</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>get_updated_Segment_Leader.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Prior_Segment_Leader</name>
        <label>Delete Prior Segment Leader</label>
        <locationX>50</locationX>
        <locationY>3864</locationY>
        <connector>
            <targetReference>Create_updated_Segment_Leader</targetReference>
        </connector>
        <inputReference>Get_Contact_Relationship_Team</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Prior_Segment_LeaderNull</name>
        <label>Delete Prior Segment Leader</label>
        <locationX>842</locationX>
        <locationY>3648</locationY>
        <inputReference>Get_Contact_Relationship_TeamNull</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Active_DS_Team_members</name>
        <label>Get Active DS Team members</label>
        <locationX>699</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_on_Active_DS_Team_members_records_to_store_user_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DSTeamMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_Relationship_Team</name>
        <label>Get Client Contact Relationship Team</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_Relationship_Team2</name>
        <label>Get Client Contact Relationship Team</label>
        <locationX>699</locationX>
        <locationY>2724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_Team</name>
        <label>Get Contact Relationship Team</label>
        <locationX>380</locationX>
        <locationY>3432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_updated_Segment_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_TeamNull</name>
        <label>Get Contact Relationship Team</label>
        <locationX>974</locationX>
        <locationY>3432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segment_Leader_found_in_contact_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification</name>
        <label>Get custom notification</label>
        <locationX>1634</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Client_Contact_Relationship_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Contact_Update_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification2</name>
        <label>Get custom notification</label>
        <locationX>831</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pick_Record_Notification_to_be_sent_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Contact_Update_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Team_members</name>
        <label>Get DS Team members</label>
        <locationX>699</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_DS_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DS_Team_public_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Team_public_group</name>
        <label>Get DS Team public group</label>
        <locationX>699</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DS_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DS_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1634</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Client_Contact_Relationship_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Template_for_Birthday_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Client_Contact_Directory_record</name>
        <label>Get related Client Contact Directory record</label>
        <locationX>831</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Client_Contact_Directory_record_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Contact_Directory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_updated_Segment_Leader</name>
        <label>get updated Segment Leader</label>
        <locationX>380</locationX>
        <locationY>3540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segment_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Key_Account_Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Segment_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Contact_Directory_record</name>
        <label>Update Client Contact Directory record</label>
        <locationX>699</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Check_if_Account_is_changing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_Email_ID__c</field>
            <value>
                <elementReference>$Record.AlternateEmailID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_to_DS_Team_Member__c</field>
            <value>
                <elementReference>$Record.Assigned_to_DS_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Date__c</field>
            <value>
                <elementReference>$Record.Assignment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOD_Flag__c</field>
            <value>
                <elementReference>$Record.BOD_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact_Birthday__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Birthday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Client_Contact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Corporate_Address__c</field>
            <value>
                <elementReference>$Record.ClientCorporateAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Group_Name__c</field>
            <value>
                <elementReference>$Record.ClientGroupName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__City__s</field>
            <value>
                <elementReference>$Record.Client_Location__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__CountryCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.Client_Location__GeocodeAccuracy__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Latitude__s</field>
            <value>
                <elementReference>$Record.Client_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Longitude__s</field>
            <value>
                <elementReference>$Record.Client_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__PostalCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__StateCode__s</field>
            <value>
                <elementReference>$Record.Client_Location__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Location__Street__s</field>
            <value>
                <elementReference>$Record.Client_Location__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>$Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>$Record.Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_To_Receive_All_GT_Communication__c</field>
            <value>
                <elementReference>$Record.ConsentToReceiveAllGTCommunication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Background__c</field>
            <value>
                <elementReference>$Record.Background__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corridor__c</field>
            <value>
                <elementReference>$Record.Corridor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Code__c</field>
            <value>
                <elementReference>$Record.Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Corridor__c</field>
            <value>
                <elementReference>$Record.Country_Corridor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Directorship_Company_Name__c</field>
            <value>
                <elementReference>$Record.Current_Directorship_Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Directorship_Date_of_Appointment__c</field>
            <value>
                <elementReference>$Record.Current_Directorship_Date_of_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Experience_Index__c</field>
            <value>
                <elementReference>$Record.Customer_Experience_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Satisfaction_Index__c</field>
            <value>
                <elementReference>$Record.Customer_Satisfaction_Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Rejection_Date__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Rejection_Remarks__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DS_Team_Approval_Status__c</field>
            <value>
                <elementReference>$Record.DS_Team_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Line_Number__c</field>
            <value>
                <elementReference>$Record.DirectLineNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>$Record.Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Former_Directorship_Company_Name__c</field>
            <value>
                <elementReference>$Record.Former_Directorship_Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Former_Directorship_End_of_Tenure_Date__c</field>
            <value>
                <elementReference>$Record.Former_Directorship_End_of_Tenure_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Office__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Referral_Country__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referral_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTI_Member_Firm_Referring_Person_s_name__c</field>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referring_Person_s_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Alumni_Name__c</field>
            <value>
                <elementReference>$Record.GT_Alumni_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Alumni__c</field>
            <value>
                <elementReference>$Record.GT_Alumni__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Independent_Director_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Independent_Director_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intermediary_Referral_Firm_Name__c</field>
            <value>
                <elementReference>$Record.Intermediary_Referral_Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intermediary_Referral_Person_Name__c</field>
            <value>
                <elementReference>$Record.Intermediary_Referral_Person_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Bank_Contact_Name__c</field>
            <value>
                <elementReference>$Record.Investment_Bank_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Bank_Firm_Name__c</field>
            <value>
                <elementReference>$Record.Investment_Bank_Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_GT_Employee__c</field>
            <value>
                <elementReference>$Record.IsGTEmployee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Name__c</field>
            <value>
                <elementReference>$Record.Key_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Sector__c</field>
            <value>
                <elementReference>$Record.Key_Account_Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Segment__c</field>
            <value>
                <elementReference>$Record.Key_Account_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Sub_Segment__c</field>
            <value>
                <elementReference>$Record.Key_Account_Sub_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_Identifier__c</field>
            <value>
                <elementReference>$Record.KeyContactIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__City__s</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.MailingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Latitude__s</field>
            <value>
                <elementReference>$Record.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Longitude__s</field>
            <value>
                <elementReference>$Record.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address__Street__s</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NSL__c</field>
            <value>
                <elementReference>$Record.Industry_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Promoter_Score__c</field>
            <value>
                <elementReference>$Record.Net_Promoter_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pardot_Engagement__c</field>
            <value>
                <elementReference>$Record.Pardot_Engagement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Record__c</field>
            <value>
                <elementReference>$Record.Pick_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Interest__c</field>
            <value>
                <elementReference>$Record.Professional_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rationale_for_Name_Change__c</field>
            <value>
                <elementReference>$Record.Rationale_for_Name_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Client__c</field>
            <value>
                <elementReference>$Record.Referral_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipOffice__c</field>
            <value>
                <elementReference>$Record.RelationshipOffice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Leader__c</field>
            <value>
                <elementReference>$Record.RelationshipLeader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reports_To__c</field>
            <value>
                <elementReference>$Record.ReportsToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Date__c</field>
            <value>
                <elementReference>$Record.ReviewDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Sector__c</field>
            <value>
                <elementReference>$Record.Sub_Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Segment__c</field>
            <value>
                <elementReference>$Record.Sub_segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$Record.VerifiedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_DS_Team_Date__c</field>
            <value>
                <elementReference>$Record.VerifiedDSTeamDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verrified_by_DS_Team__c</field>
            <value>
                <elementReference>$Record.VerrifiedByDSTeam__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCGT_Id__c</field>
            <value>
                <elementReference>$Record.WCGTId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Young_CSL__c</field>
            <value>
                <elementReference>$Record.YoungCSL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_Pardot_Last_Scored_At__c</field>
            <value>
                <elementReference>$Record.pi__Pardot_Last_Scored_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_comments__c</field>
            <value>
                <elementReference>$Record.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_conversion_date__c</field>
            <value>
                <elementReference>$Record.pi__conversion_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_created_date__c</field>
            <value>
                <elementReference>$Record.pi__created_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_first_activity__c</field>
            <value>
                <elementReference>$Record.pi__first_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_grade__c</field>
            <value>
                <elementReference>$Record.pi__grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_last_activity__c</field>
            <value>
                <elementReference>$Record.pi__last_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_notes__c</field>
            <value>
                <elementReference>$Record.pi__notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi_score__c</field>
            <value>
                <elementReference>$Record.pi__score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>picampaignc__c</field>
            <value>
                <elementReference>$Record.pi__campaign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Contact_Directory__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>It is used to update &quot;Client Contact Record Type&quot; on change of parent account.</description>
        <name>Update_Client_Contact_Record_Type</name>
        <label>Update Client Contact Record Type</label>
        <locationX>699</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Get_custom_notification2</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Contact_Record_Type__c</field>
            <value>
                <elementReference>$Record.Account.Account_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1106</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Client_Contact_Directory_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Notification_to_Client_Contact_Relationship_Team</name>
            <connector>
                <targetReference>Get_Client_Contact_Relationship_Team</targetReference>
            </connector>
            <label>Notification to Client Contact Relationship Team</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Client_Contact_Birthday__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Contact relationship team, 

This is to remind you that your client contact, {!$Record.FirstName} {!$Record.LastName}&apos;s birthday is tomorrow. Please remember to wish him/her and maintain a healthy relationship. 

Best Regards,
Linkreta</text>
    </textTemplates>
    <textTemplates>
        <name>notificationSurveyUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Survey Score is updated on Client Contact {!$Record.FirstName} {!$Record.LastName}.
NPS : {!$Record.Net_Promoter_Score__c}, CSI : {!$Record.Customer_Satisfaction_Index__c}, CXI : {!$Record.Customer_Experience_Index__c}</text>
    </textTemplates>
    <textTemplates>
        <name>NotitficationBodyToPickRecord</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear DS Team,

A contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; is created in the system and  ready to be picked by you.

Best Regards,
Linkreta</text>
    </textTemplates>
    <variables>
        <name>DSTeamActiveMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DSTeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
