LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Insert_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Client_Contact_Directory_details</name>
        <label>Add Client Contact Directory details</label>
        <locationX>341</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Alternate_Email_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AlternateEmailID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Assigned_to_DS_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assigned_to_DS_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assignment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.BOD_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BOD_Flag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Chamber_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Chamber_contacts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Channel_and_Alliance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Channel_and_Alliance_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Contact_Birthday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Contact_Birthday__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Contact_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Contact_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Contact_Record_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Corporate_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClientCorporateAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Group_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClientGroupName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__GeocodeAccuracy__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Location__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Committee_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Committee_Names__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Consent_To_Receive_All_GT_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsentToReceiveAllGTCommunication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Contact_Background__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Background__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Contact_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Contact_Personal_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Personal_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Contact_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Current_Directorship_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Directorship_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Current_Directorship_Date_of_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Directorship_Date_of_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Custom_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Custom_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Designation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Direct_Line_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DirectLineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.DS_Team_Approval_Rejection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.DS_Team_Approval_Rejection_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DS_Team_Approval_Rejection_Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.DS_Team_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DS_Team_Approval_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Former_Directorship_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Former_Directorship_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Former_Directorship_End_of_Tenure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Former_Directorship_End_of_Tenure_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Google_Alert_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Google_Alert_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GT_Alumni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GT_Alumni__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GT_Client_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GT_Client_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GT_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GT_Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GT_Member_Firms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GT_Member_Firms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Investors_Private_Equity_Firms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investors_Private_Equity_Firms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Investors_Private_Equity_Firms_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investors_Private_Equity_Firms_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Is_Influencer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_Influencer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Sub_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Contact_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KeyContactIdentifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Last_Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Activity_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Law_Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Law_Firm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Law_Firm_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Law_Firm_Contacts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Linkedin_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Linkedin_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mailing_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.New_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.New_Client_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.New_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_Client_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.New_Client_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.NSL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry_Leader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Other_Committees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Committees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Other_Passions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Other_Passions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Pick_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pick_Record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Referred_By_Chamber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_By_Chamber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Relationship_Leader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelationshipLeader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.RelationshipOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelationshipOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Reports_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsToId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReviewDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.SystemModstamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SystemModstamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Verified_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VerifiedBy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Verified_DS_Team_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VerifiedDSTeamDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Verrified_by_DS_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VerrifiedByDSTeam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.WCGT_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WCGTId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Young_CSL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.YoungCSL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Professional_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Professional_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Rationale_for_Name_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rationale_for_Name_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Is_GT_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsGTEmployee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Sub_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Customer_Experience_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Experience_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Customer_Satisfaction_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Satisfaction_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Net_Promoter_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Net_Promoter_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GT_Alumni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GT_Alumni__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Investment_Bank_Firm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investment_Bank_Firm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Investment_Bank_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Investment_Bank_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GTI_Member_Firm_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GTI_Member_Firm_Referral_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referral_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.GTI_Member_Firm_Referring_Person_s_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GTI_Member_Firm_Referring_Person_s_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Independent_Director_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Independent_Director_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Intermediary_Referral_Firm_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intermediary_Referral_Firm_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Intermediary_Referral_Person_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intermediary_Referral_Person_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Competitor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Sub_Sector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Sub_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Country_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Country_Corridor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_Corridor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Corridor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Corridor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__grade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_first_activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__first_activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_Pardot_Last_Scored_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__Pardot_Last_Scored_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_created_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__created_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_last_activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__last_activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.pi_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pi__notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Comment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Key_Account_Sub_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Key_Account_Sub_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Referral_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactDirectoryRecord.Referral_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Directory_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Client_Contact_Relationship_Team_members</name>
        <label>Add Client Contact Relationship Team members</label>
        <locationX>429</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read/Write</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Client_Team_Members.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Client_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.System_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactRelationshipTeamMemberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClietContactRelationshipTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Client_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Creator</name>
        <label>Add Record Creator</label>
        <locationX>473</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read/Write</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Creator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClietContactRelationshipTeamMember.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientContactRelationshipTeamMemberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClietContactRelationshipTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Client_is_associated_or_not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Client_is_associated_or_not</name>
        <label>Check if Client is associated or not</label>
        <locationX>473</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_RelationshipTeamMemberList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact_record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RelationshipTeamMemberList</name>
        <label>Check RelationshipTeamMemberList</label>
        <locationX>473</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Segment_Leader_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientContactRelationshipTeamMemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Contact_Relationship_Team_member</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segmnet_Mdt</name>
        <label>Check Segmnet Mdt</label>
        <locationX>275</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segmnet_Mdt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Team_Segment_Leader</targetReference>
            </connector>
            <label>Is Segment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Bhavika [20-09-23] : Restricting a temporary record of contact created by us in our SendEmailInvocable class.</description>
        <name>Is_Contact_Valid</name>
        <label>Is Contact Valid?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Add_Record_Creator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid record</defaultConnectorLabel>
        <rules>
            <name>Invalid_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>default@invalid.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GT Client Group</stringValue>
                </rightValue>
            </conditions>
            <label>Invalid Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_Leader_Mapping</name>
        <label>Segment Leader Mapping</label>
        <locationX>473</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Account_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Segmnet_Mdt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to perform operations on creation of Client Contact. Below are the operations performed:
1. Auto submit client contact for DS Approval on client contact creation.
2. Added Client Contact Relationship Team member creation having role &quot;Record Creator&quot;.
3. Added Client Contact Relationship Team members creation on &quot;Client Contact&quot; creation.
4. Added &quot;Client Contact Record Type&quot; mapping.

[Suraj Kumar 04-10-2023]: Removed Auto-Submission for DS Team on creation.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.

[Suraj Kumar 05-06-2024] : Replaced record creator user from &quot;Created By User&quot; to &quot;Owner&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Client Contact | Insert Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Insert Operations</label>
    <loops>
        <name>Loop_over_Client_Team_Members</name>
        <label>Loop over Client Team Members</label>
        <locationX>341</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_associated_client_team_member_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Client_Contact_Relationship_Team_members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_RelationshipTeamMemberList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Team_Segment_Leader</name>
        <label>Contact Team Segment Leader</label>
        <locationX>143</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Read/Write</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Deletion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Get_Segmnet_Mdt.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Used to create Client Contact Relationship Team member having &quot;Record Creator&quot; role.</description>
        <name>Create_Client_Contact_Relationship_Team_member</name>
        <label>Create Client Contact Relationship Team member</label>
        <locationX>341</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Segment_Leader_Mapping</targetReference>
        </connector>
        <inputReference>ClientContactRelationshipTeamMemberList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Directory_record</name>
        <label>Create Contact Directory record</label>
        <locationX>341</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_associated_client_team_member_records</targetReference>
        </connector>
        <inputReference>ClientContactDirectoryRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_associated_client_team_member_records</name>
        <label>Get associated client team member records</label>
        <locationX>341</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Client_Team_Members</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account  CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account  Co-CSL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segmnet_Mdt</name>
        <label>Get Segmnet Mdt</label>
        <locationX>275</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segmnet_Mdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Key_Account_Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Segment_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Used to update &quot;Client Contact Record Type&quot; and &quot;DS Team Approval Status&quot; field on client contact creation.</description>
        <name>Update_Client_Contact_record_Type</name>
        <label>Update Client Contact record Type</label>
        <locationX>341</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_Client_Contact_Directory_details</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Contact_Record_Type__c</field>
            <value>
                <elementReference>$Record.Account.Account_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Valid</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ClientContactDirectoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Directory__c</objectType>
    </variables>
    <variables>
        <name>ClientContactRelationshipTeamMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
    <variables>
        <name>ClietContactRelationshipTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
</Flow>
