LinKreta_POC_Repository/force-app/main/default/flows/Client_Team_Member_Delete_Relationship_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Contact_id</name>
        <label>Add Contact id</label>
        <locationX>534</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>ContactsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_related_client_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_related_client_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Relationship_Team_member</name>
        <label>Add Contact Relationship Team member</label>
        <locationX>138</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Contact_Relationship_Team_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamRecord.System_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordsToBeDeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRelationshipTeamRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Contact_Relationship_Team_Members</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Default_Error</name>
        <label>Default Error</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Client_Contact_Relationship_Team_records_found_or_not</name>
        <label>Check Client Contact Relationship Team records found or not</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_Relationship_Team_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Contact_Relationship_Team_Members</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This flow is used to delete Client Contact Relationship Team Members on delete of Account Team Member.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.</description>
    <environments>Default</environments>
    <interviewLabel>Client Team Member | Delete Relationship Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Team Member | Delete Relationship Team Members</label>
    <loops>
        <name>Loop_over_Contact_Relationship_Team_Members</name>
        <label>Loop over Contact Relationship Team Members</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Client_Contact_Relationship_Team_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Relationship_Team_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_System_Deletion_in_Contact_Team_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_related_client_contacts</name>
        <label>Loop over related client contacts</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_client_contacts_related_to_associated_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Client_Contact_Relationship_Team_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Client_Contact_Relationship_Team_Members</name>
        <label>Delete Client Contact Relationship Team Members</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputReference>RecordsToBeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Client_Contact_Relationship_Team_records</name>
        <label>Get Client Contact Relationship Team records</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_Contact_Relationship_Team_records_found_or_not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TeamMemberRole</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactsIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_client_contacts_related_to_associated_Client</name>
        <label>Get client contacts related to associated Client</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_related_client_contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_System_Deletion_in_Contact_Team_members</name>
        <label>Update System Deletion in Contact Team members</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Delete_Client_Contact_Relationship_Team_Members</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputReference>RecordsToBeDeleted</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_client_contacts_related_to_associated_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRelationshipTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
    <variables>
        <name>ContactsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordsToBeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
</Flow>
