LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Send_Email_Notification_on_no_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>418</locationX>
        <locationY>2040</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTemplateID</name>
            <value>
                <elementReference>Get_Email_Template_CCR_Team.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification_to_C_M</name>
        <label>Send Email Notification to C&amp;M</label>
        <locationX>286</locationX>
        <locationY>1524</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_custom_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTemplateID</name>
            <value>
                <elementReference>Get_Email_Template_CM_Team.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>CMTeamIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>418</locationX>
        <locationY>1932</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>No Activity on Client Contact since 3 months</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_C_M_Team_Email_and_Notification_Recipients</name>
        <label>Add C&amp;M Team Email and Notification Recipients</label>
        <locationX>374</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>CMTeamIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Team_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Owner_as_Email_and_Notification_Recipient</name>
        <label>Add Contact Owner as Email and Notification Recipient</label>
        <locationX>418</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_C_M_Team_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_and_Notification_Recipients</name>
        <label>Add Email and Notification Recipients</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team_Members.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Client_Contact_Relationship_Team_Members.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Group_ID_Not_Null</name>
        <label>Check Group ID Not Null</label>
        <locationX>418</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Get_custom_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_C_M_Team_Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_C_M_Team_Members</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>This flow is used to send Email/Notification to Marcom Team, Relationship Team and C&amp;m Team on no Activity on client contact for 3 months.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.</description>
    <environments>Default</environments>
    <interviewLabel>Client Contact | Send Email/Notification on no Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Send Email/Notification on no Activity</label>
    <loops>
        <name>Loop_on_Team_Members</name>
        <label>Loop on Team Members</label>
        <locationX>286</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_C_M_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_C_M_Team_Email_and_Notification_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Template_CM_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Client_Contact_Relationship_Team_Members</name>
        <label>Loop over Client Contact Relationship Team Members</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Client_Contact_Relationship_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Email_and_Notification_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Contact_Owner_as_Email_and_Notification_Recipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_C_M_Team_Group</name>
        <label>Get C&amp;M Team Group</label>
        <locationX>418</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group_ID_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_M_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_C_M_Team_Members</name>
        <label>Get C&amp;M Team Members</label>
        <locationX>286</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_C_M_Team_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_Relationship_Team_Members</name>
        <label>Get Client Contact Relationship Team Members</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Client_Contact_Relationship_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification</name>
        <label>Get custom notification</label>
        <locationX>418</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template_CCR_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Contact_Update_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get Email template for No activity on Client Contact</description>
        <name>Get_Email_Template_CCR_Team</name>
        <label>Get Email Template CCR Team</label>
        <locationX>418</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Template_for_No_Activity_on_Client_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to get Email template for No activity on Client Contact</description>
        <name>Get_Email_Template_CM_Team</name>
        <label>Get Email Template C&amp;M Team</label>
        <locationX>286</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Notification_to_C_M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Template_for_No_Activity_on_Client_Contact_C_M_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Activity_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email_Notification_on_no_Activity</name>
            <connector>
                <targetReference>Get_Client_Contact_Relationship_Team_Members</targetReference>
            </connector>
            <label>Send Email/Notification on no Activity</label>
            <offsetNumber>90</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Last_Activity_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Client Contact Relationship Team and C&amp;M Team,
This is to remind you that there has been no update on the contact &quot;{!$Record.FirstName} {!$Record.LastName} &quot;for more than 3 months.
Best Regards, Team LinKreta.</text>
    </textTemplates>
    <variables>
        <name>CMTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
