LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Send_Notification_on_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_on_Designation_Change</name>
        <label>Send Email on Designation Change</label>
        <locationX>402</locationX>
        <locationY>2795</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varBody</name>
            <value>
                <elementReference>EmailBodyOnDesignationChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varSubject</name>
            <value>
                <stringValue>Change in the Designation of the Client Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_relationship_Team</name>
        <label>Send Email to relationship Team</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Notifcation_on_Status_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varSubject</name>
            <value>
                <stringValue>Contact Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTemplateID</name>
            <value>
                <elementReference>Get_Email_Template_for_Status_Change.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notifcation_on_Status_Change</name>
        <label>Send Notifcation on Status Change</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Contact Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyOnStatusChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Relationship_Team_and_Client_Contact_Owner</name>
        <label>Send Notification to Relationship Team and Client Contact Owner</label>
        <locationX>666</locationX>
        <locationY>1763</locationY>
        <actionName>SendEmailOnClientContactUpdate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailAddress</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NotificationId</name>
            <value>
                <elementReference>Get_custom_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PresentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecipientId</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserName</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailOnClientContactUpdate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Relationship_Team_on_Designation_Change</name>
        <label>Send Notification to Relationship Team on Designation Change</label>
        <locationX>402</locationX>
        <locationY>2687</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_on_Designation_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Designation Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyOnDesignationChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_C_M_Team_member_Email_UserId</name>
        <label>Add C&amp;M Team member Email/UserId</label>
        <locationX>490</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_C_M_Team_users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_C_M_Team_users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_C_M_Team_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_contact_owner_as_Email_Notification_recipients</name>
        <label>Add contact owner as Email/Notification recipients</label>
        <locationX>644</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Notification_Email_Recipients_are_not_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_contact_owner_as_Email_Notification_recipients2</name>
        <label>Add contact owner as Email/Notification recipients</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_relationship_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Ids</name>
        <label>Add User Ids</label>
        <locationX>490</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_C_M_Team_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_C_M_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_client_contact_relationship_team_members_as_notification_recipients</name>
        <label>Assign client contact relationship team members as notification recipients</label>
        <locationX>668</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_Client_Contact_Relationship_Team_members.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_Client_Contact_Relationship_Team_members.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_Client_Contact_Relationship_Team_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification_conditions</name>
        <label>Check Notification conditions</label>
        <locationX>358</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Relationship_Team_and_Client_Contact_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Marcom_Team_Changed_Contact_Status</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InActive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GT Marcom Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_for_Status_Change</targetReference>
            </connector>
            <label>Marcom Team Changed Contact Status</label>
        </rules>
        <rules>
            <name>Designation_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Designation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Designation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_C_M_Team_group</targetReference>
            </connector>
            <label>Designation is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification_Email_Recipients_are_not_blank</name>
        <label>Check Notification/Email Recipients are not blank</label>
        <locationX>644</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Notification_conditions</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification_to_be_sent_or_not</name>
        <label>Check Notification to be sent or not</label>
        <locationX>919</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_custom_notification_type</targetReference>
            </connector>
            <label>Yes needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Relationship_Member_is_Active</name>
        <label>Check Relationship Member is Active</label>
        <locationX>800</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Looping_over_Client_Contact_Relationship_Team_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Member is Inactive</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_over_Client_Contact_Relationship_Team_members.User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_client_contact_relationship_team_members_as_notification_recipients</targetReference>
            </connector>
            <label>Yes-Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_contact_relationship_team_members_found_or_not</name>
        <label>Client contact relationship team members found or not</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Marcom_Team_profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_Relationship_Team_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_over_Client_Contact_Relationship_Team_members</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This flow is used to send notification to client contact owner and Client Contact Relationship Team members on any update on client contact record.
18-08-2023 : Added different Notification Body on &quot;Contact Status&quot; field change.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs and actions in fault path.
[Prashant 10-04-2024]: Updated Email Body &apos;EmailBodyOnDesignationChange&apos; and updated Subject for Designation change Email</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Client Contact | Send Notification on update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Send Notification on update</label>
    <loops>
        <name>Loop_over_C_M_Team_Members</name>
        <label>Loop over C&amp;M Team Members</label>
        <locationX>402</locationX>
        <locationY>1979</locationY>
        <collectionReference>Get_C_M_Team_group_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_C_M_Team_user_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_C_M_Team_users</name>
        <label>Loop over C&amp;M Team users</label>
        <locationX>402</locationX>
        <locationY>2387</locationY>
        <collectionReference>Get_C_M_Team_user_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_C_M_Team_member_Email_UserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_to_Relationship_Team_on_Designation_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Used to loop over Client Contact Relationship Team members and storing their Id to send them custom notification.</description>
        <name>Looping_over_Client_Contact_Relationship_Team_members</name>
        <label>Looping over Client Contact Relationship Team members</label>
        <locationX>580</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Client_Contact_Relationship_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Relationship_Member_is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Marcom_Team_profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_C_M_Team_group</name>
        <label>Get C&amp;M Team group</label>
        <locationX>402</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_C_M_Team_group_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_M_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_C_M_Team_group_members</name>
        <label>Get C&amp;M Team group members</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_C_M_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_C_M_Team_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_C_M_Team_user_records</name>
        <label>Get C&amp;M Team user records</label>
        <locationX>402</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_C_M_Team_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_Relationship_Team_members</name>
        <label>Get Client Contact Relationship Team members</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_contact_relationship_team_members_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – CSL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_custom_notification_type</name>
        <label>Get custom notification type</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Contact_Relationship_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Contact_Update_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_for_Status_Change</name>
        <label>Get Email Template for Status Change</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_contact_owner_as_Email_Notification_recipients2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_when_Marcom_Team_changes_Contact_Status</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marcom_Team_profile</name>
        <label>Get Marcom Team profile</label>
        <locationX>644</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_contact_owner_as_Email_Notification_recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GT Marcom Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>793</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Notification_to_be_sent_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyOnDesignationChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size:11pt&quot;&gt;&lt;span style=&quot;font-family:Calibri&quot;&gt;Dear Contact Relationship Team/C&amp;amp;M Team,&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;&lt;span style=&quot;font-size:11pt;font-family:Calibri&quot;&gt;There has been a change in the Designation of the Client Contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; of Client  &quot;{!$Record.Account.Name}&quot;. The change is from &quot;{!$Record__Prior.Designation__c}&quot; to &quot;{!$Record.Designation__c}&quot;.&lt;/span&gt;&lt;/p&gt;

&lt;p style=&quot;color:red&quot;&gt;&lt;span style=&quot;font-size:11pt&quot;&gt;&lt;span style=&quot;font-family:Calibri&quot;&gt;&lt;b&gt;Note:- This is a system generated email. Please do not reply to this mail.&lt;/b&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnDesignationChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There has been a change in the Designation of the Client Contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; of Client  &quot;{!$Record.Account.Name}&quot;. The change is from &quot;{!$Record__Prior.Designation__c}&quot; to &quot;{!$Record.Designation__c}&quot;.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnStatusChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Marcom team has changed the status of contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; to &quot;{!$Record.Contact_status__c}&quot;.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnTitleUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Title of {!$Record.FirstName}{!$Record.LastName} changed from &quot;{!$Record__Prior.Title}&quot; to &quot;{!$Record.Title}&quot;.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There is an update performed on the Client Contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot;</text>
    </textTemplates>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>NotificationBodyOnUpdate</elementReference>
        </value>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
