LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Share_Contact_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_the_updated_access</name>
        <label>Add the updated access</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Share_records.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccessLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Access</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Default_Error</name>
        <label>Default Error</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Restrict_Creation</name>
        <label>Restrict Creation</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Restrict_Contact_Team_Member}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Restrict_CSL_Co_CSL_Young_CSL_Creation_Error</name>
        <label>Restrict CSL/Co-CSL/Young CSL Creation</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Restrict_ContactTeam_Creation}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Contact_is_already_shared</name>
        <label>Check if Contact is already shared</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Share_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Shared</defaultConnectorLabel>
        <rules>
            <name>Already_Shared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_share_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Shared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_record_is_new_or_not</name>
        <label>Check if record is new or not</label>
        <locationX>1609</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_record_to_be_shared_or_not2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_team_member</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_to_be_shared_or_not</name>
        <label>Check record to be shared or not</label>
        <locationX>1172</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Do not share</defaultConnectorLabel>
        <rules>
            <name>Yes_Share_the_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Young CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Record Creator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_share_record</targetReference>
            </connector>
            <label>Yes-Share the Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_to_be_shared_or_not2</name>
        <label>Check record to be shared or not</label>
        <locationX>2822</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Do not share</defaultConnectorLabel>
        <rules>
            <name>Yes_Share_the_Record2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Young CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Record Creator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Share_records</targetReference>
            </connector>
            <label>Yes-Share the Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Action</name>
        <label>Check Required Action</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Update_the_contact_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Access__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Access__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_the_updated_access</targetReference>
            </connector>
            <label>Update the contact access</label>
        </rules>
        <rules>
            <name>Delete_Contact_Share_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contact_sharing</targetReference>
            </connector>
            <label>Delete Contact Share records</label>
        </rules>
        <rules>
            <name>Share_the_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_the_contact</targetReference>
            </connector>
            <label>Share the record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restrict_Contact_Relationship_Team_member_creation</name>
        <label>Restrict Contact Relationship Team member creation</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Restrict_CSL_Co_CSL_Young_CSL_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not restrict</defaultConnectorLabel>
        <rules>
            <name>Restrict</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Young CSL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restrict_Creation</targetReference>
            </connector>
            <label>Restrict</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restrict_CSL_Co_CSL_Young_CSL_creation</name>
        <label>Restrict CSL/Co-CSL/Young-CSL creation</label>
        <locationX>743</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_record_to_be_shared_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not restrict</defaultConnectorLabel>
        <rules>
            <name>Yes_Restrict</name>
            <conditionLogic>1  AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System_Deletion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segment Leader</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Young CSL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restrict_CSL_Co_CSL_Young_CSL_Creation_Error</targetReference>
            </connector>
            <label>Yes-Restrict</label>
        </rules>
    </decisions>
    <description>This flow is used to share Contact record with the Contact Relationship Team.
[Suraj Kumar 23-04-2024]: Added the removal of contact sharing if the status is updated to inactive.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.</description>
    <environments>Default</environments>
    <formulas>
        <name>AccessLevel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Access__c}, &quot;Read/Write&quot;), &quot;Edit&quot;, &quot;Read&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Client Contact | Share Contact Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Share Contact Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>It is used to share client contact record</description>
        <name>Create_Contact_Share_Record</name>
        <label>Create Contact Share Record</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <elementReference>AccessLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContactShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_the_contact</name>
        <label>Share the contact</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <elementReference>AccessLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContactShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Contact_sharing</name>
        <label>Delete Contact sharing</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Contact_Share_records</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Used to get already shared contact share record.</description>
        <name>Get_contact_share_record</name>
        <label>Get contact share record</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_is_already_shared</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Share_records</name>
        <label>Get Contact Share records</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Required_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_team_member</name>
        <label>Get existing team member</label>
        <locationX>396</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Restrict_Contact_Relationship_Team_member_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Key Account – CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Key Account – Co-CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Record Creator</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Young CSL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Access</name>
        <label>Update Contact Access</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Contact_Share_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>1483</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_record_is_new_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Client_Contact_Relationship_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
