LinKreta_POC_Repository/force-app/main/default/flows/Client_Team_Member_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Notification</name>
        <label>send Notification</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CollectionOfUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationBodyAndTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyAndTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmailToCTM</name>
        <label>sendEmailToCTM</label>
        <locationX>424</locationX>
        <locationY>971</locationY>
        <actionName>SendEmailToCTM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_For_Team_Role</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailAddress</name>
            <value>
                <elementReference>collectionOfEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecId</name>
            <value>
                <elementReference>collectionOfRecId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecipentId</name>
            <value>
                <elementReference>CollectionOfUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedRecName</name>
            <value>
                <elementReference>collectionOfRelatedAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamRole</name>
            <value>
                <elementReference>TeamRoleCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemlateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserName</name>
            <value>
                <elementReference>CollectionOfUserName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailToCTM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_User_Id</name>
        <label>assign User Id</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfRelatedAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfRecId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamRoleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Client_Team_Member</name>
        <label>Assignment Of Client Team Member</label>
        <locationX>138</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>ClientTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Clients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.CslCO_Csl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientTeamMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClientTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Clients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Ids_Of_Gt_client_Group</name>
        <label>Assignment Of Ids Of Gt client Group</label>
        <locationX>402</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>GtClientGroupcollectionOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Gt_Client_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Gt_Client_records</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error_Handle</name>
        <label>Custom Error Handle</label>
        <locationX>314</locationX>
        <locationY>2387</locationY>
        <customErrorMessages>
            <errorMessage>Cannot delete his own team member, as key account is added as client due to bad data.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Fault_Error_Custom</name>
        <label>Fault Error Custom</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <customErrorMessages>
            <errorMessage>Cannot delete his own team member, as key account is added as client due to bad data.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Email_Template</name>
        <label>Check Email Template</label>
        <locationX>556</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Decision_For_Team_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmailToCTM</targetReference>
            </connector>
            <label>Template Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Client_List</name>
        <label>Check For Client List</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Have_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Of_Client</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Clients</targetReference>
            </connector>
            <label>List Have Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_For_Sending_Notification</name>
        <label>decision For Sending Notification</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_For_Team_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>send</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5) OR 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createUpdateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_User_Id</targetReference>
            </connector>
            <label>send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Team_Role</name>
        <label>Decision For Team Role</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Role_Should_be_CO_csl_and_csl</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account – Co-CSL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Gt_Client_records</targetReference>
            </connector>
            <label>Team Role Should be CO-csl and csl</label>
        </rules>
    </decisions>
    <description>[Suraj Kumar 18-04-2024]: Queried Custom Notification type and used that in send notification action.
[Suraj Kumar 28-04-2024]: Queried Email Template and used that in Sending parameters to send Email from Apex.</description>
    <environments>Default</environments>
    <formulas>
        <name>createUpdateFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Notification_Label</name>
        <dataType>String</dataType>
        <expression>{!$Label.NewClientOwnerChanged}</expression>
    </formulas>
    <formulas>
        <name>notificationBodyAndTitle</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned as &apos;+ TEXT({!$Record.TeamMemberRole}) +&apos; on &apos;+ {!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>userName</name>
        <dataType>String</dataType>
        <expression>{!$Record.User.FirstName} + &apos; &apos;+  {!$Record.User.LastName}</expression>
    </formulas>
    <interviewLabel>Client Team Member Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Team Member Flow</label>
    <loops>
        <name>Loop_on_Clients</name>
        <label>Loop on Clients</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <collectionReference>Get_Records_Of_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_Client_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Client_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Gt_Client_records</name>
        <label>Loop on Gt Client records</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <collectionReference>get_Gt_Client_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_Ids_Of_Gt_client_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Records_Of_Client</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Team_Members</name>
        <label>Create Client Team Members</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <faultConnector>
            <targetReference>Custom_Error_Handle</targetReference>
        </faultConnector>
        <inputReference>ClientTeamMemberCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientOwnerChanged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Template_for_adding_CTM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Gt_Client_records</name>
        <label>get Gt Client records</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Gt_Client_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_360__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Of_Client</name>
        <label>Get Records Of Client</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Client_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Custom</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GT_Client_Group__c</field>
            <operator>In</operator>
            <value>
                <elementReference>GtClientGroupcollectionOfIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_For_Sending_Notification</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>ClientTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>ClientTeamMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>collectionOfEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfRecId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfRelatedAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionOfUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionOfUserName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GtClientGroupcollectionOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamRoleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
