LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Relationship_team_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email_to_Client_Contact_Relation_team</name>
        <label>send Email to Client Contact Relationship team</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>SendEmailToCTM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailAddress</name>
            <value>
                <elementReference>collectionOfUserEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecId</name>
            <value>
                <elementReference>collectionOfRecIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecipentId</name>
            <value>
                <elementReference>collectionOfUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedRecName</name>
            <value>
                <elementReference>collectionOfRelatedAccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamRole</name>
            <value>
                <elementReference>TeamRole</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemlateId</name>
            <value>
                <elementReference>get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserName</name>
            <value>
                <elementReference>collectionOfUserName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailToCTM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_Notification</name>
        <label>send Notification</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionOfUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationBodyAndTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyAndTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignment_Of_UserIds_And_Information_For_sending_Notification</name>
        <label>assignment Of UserIds And Information For sending Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>collectionOfUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfUserEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfRecIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfUserName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionOfRelatedAccountName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userNameOFClientContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entry_Decision</name>
        <label>Entry Decision</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Specific_condition_update_Or_Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>updateCreateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_Of_UserIds_And_Information_For_sending_Notification</targetReference>
            </connector>
            <label>Specific condition</label>
        </rules>
    </decisions>
    <description>Send notification when user add In Client Contact Relationship team
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.</description>
    <environments>Default</environments>
    <formulas>
        <name>notificationBodyAndTitle</name>
        <dataType>String</dataType>
        <expression>&apos;You have been assigned as &apos; + TEXT({!$Record.Role__c}) +&apos; on &apos; + {!$Record.Client_Contact__r.FirstName} + &apos; &apos; + {!$Record.Client_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>updateCreateFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>userName</name>
        <dataType>String</dataType>
        <expression>{!$Record.User__r.FirstName} + &apos; &apos; +{!$Record.User__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>userNameOFClientContact</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_Contact__r.FirstName} + &apos; &apos; + {!$Record.Client_Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>Client Contact Relationship team Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact Relationship team Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Custom_Notification</name>
        <label>get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientOwnerChanged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Email_Template</name>
        <label>get Email Template</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_Email_to_Client_Contact_Relation_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Template_for_adding_CTM_on_Client_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entry_Decision</targetReference>
        </connector>
        <object>Client_Contact_Relationship_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionOfRecIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfRelatedAccountName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfUserEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionOfUserName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamRole</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
