LinKreta_POC_Repository/force-app/main/default/flows/Client_Team_Member_Create_Relationship_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_client_contact_relationship_team_member</name>
        <label>Add client contact relationship team member</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMember.Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_client_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMember.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMember.Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inherited by Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMember.System_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelationshipTeamMemberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRelationshipTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_client_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_client_contacts</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Default_Error</name>
        <label>Default Error</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_associated_account_is_Client_or_not</name>
        <label>Check associated account is Client or not</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Key_Account.Account_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_client_contacts_of_associated_account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to create Client Contact Relationship Team Members for all the related client contacts of associated account of Account Team members on creation.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.

[Suraj Kumar 23-05-2024] : Added &quot;System Deletion&quot; field update for created relationship team member records.</description>
    <environments>Default</environments>
    <interviewLabel>Client Team Member | Create Relationship Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Team Member | Create Relationship Team Members</label>
    <loops>
        <name>Loop_over_client_contacts</name>
        <label>Loop over client contacts</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_client_contacts_of_associated_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_client_contact_relationship_team_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Relationship_team_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Relationship_team_members</name>
        <label>Create Relationship team members</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Update_System_Deletion_in_Relationship_Team_members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputReference>ContactRelationshipTeamMemberList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Key_Account</name>
        <label>Get Associated Key Account</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_associated_account_is_Client_or_not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_client_contacts_of_associated_account</name>
        <label>Get client contacts of associated account</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_client_contacts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Key_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_System_Deletion_in_Relationship_Team_members</name>
        <label>Update System Deletion in Relationship Team members</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – Co-CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Segment Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_Deletion__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Deletion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Client_Contact_Relationship_Team__c</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Key_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account – Co-CSL</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young CSL</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactAccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRelationshipTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
    <variables>
        <name>ContactRelationshipTeamMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
</Flow>
