LinKreta_POC_Repository/force-app/main/default/flows/Client_Contact_Send_Notification_on_DS_Team_Approval_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action is used to send a notification to the approval request submitter for DS Team Approval.</description>
        <name>Send_notification_to_Approval_Request_Submitter</name>
        <label>Send notification to Approval Request Submitter</label>
        <locationX>952</locationX>
        <locationY>2663</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_DS_Team_Approval_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RelevantNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_active_notification_recipients</name>
        <label>Add active notification recipients</label>
        <locationX>1172</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>RelevantNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_active_notification_recipients.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_active_notification_recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_user_Id_in_recipients</name>
        <label>Add current user Id in recipients</label>
        <locationX>622</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_group_members_to_store_Id.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_group_members_to_store_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will be used to add group&apos;s id in case a group is a member of DS Team Queue.</description>
        <name>Add_group_Id</name>
        <label>Add group Id</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>GroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_DS_Team_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_DS_Team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_group_member_Id</name>
        <label>Add group member Id</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_over_DS_Team_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_DS_Team_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notification_body_on_request_submission</name>
        <label>Assign Notification body on request submission</label>
        <locationX>666</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationBodyOnRequestSubmission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Notification_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_owner_in_Notification_recipients_and_body_on_Approval</name>
        <label>Assign record owner in Notification recipients and body on Approval</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationBodyOnApproval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Notification_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_owner_in_Notification_recipients_and_body_on_Rejection</name>
        <label>Assign record owner in Notification recipients and body on Rejection</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationBodyOnRejection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Notification_Recipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_recipients_found_or_not</name>
        <label>Check Active recipients found or not</label>
        <locationX>1084</locationX>
        <locationY>2555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelevantNotificationRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_to_Approval_Request_Submitter</targetReference>
            </connector>
            <label>Yes-Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision box is used to check DS Team Approval Status.</description>
        <name>Check_DS_Team_Approval_Status</name>
        <label>Check DS Team Approval Status</label>
        <locationX>1084</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DS_Team_queue</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_owner_in_Notification_recipients_and_body_on_Approval</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_owner_in_Notification_recipients_and_body_on_Rejection</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_group_id_is_empty_or_not</name>
        <label>Check group id is empty or not</label>
        <locationX>666</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Assign_Notification_body_on_request_submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_group_members_from_groups_in_DS_Team_Queue</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_notification_need_to_be_send_or_Pick_Record_operation_is_performed</name>
        <label>Check notification need to be send or Pick Record operation is performed</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pick_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pick_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pick_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_DS_Team_Member_and_Assigned_Date</targetReference>
            </connector>
            <label>Pick Record</label>
        </rules>
        <rules>
            <name>Notification</name>
            <conditionLogic>(1 AND 4 AND 2) OR (1 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DS_Team_Approval_notification_type</targetReference>
            </connector>
            <label>Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision box is used to check if there is any group as a member of the queue further which we will add all members id of that group in notification recipients.</description>
        <name>Check_queue_member_is_a_group_or_user</name>
        <label>Check queue member is a group or user</label>
        <locationX>886</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Add_group_member_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_over_DS_Team_members.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_group_Id</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <description>This flow is used to send salesforce notification to client contact record owner/Ds Team users on DS Team Approval/Rejection/Request Submission.
[16-08-2023]: Added &quot;DS Team Assigned member&quot; and &quot;Assignment Date&quot; field updates.
[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs and actions in fault path.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Client Contact | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Contact | Send Notification on DS Team Approval/Rejection</label>
    <loops>
        <name>Loop_over_active_notification_recipients</name>
        <label>Loop over active notification recipients</label>
        <locationX>1084</locationX>
        <locationY>2255</locationY>
        <collectionReference>Get_Active_Notification_Recipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_active_notification_recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Active_recipients_found_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop is used to store user id of all the members of DS Team queue.</description>
        <name>Looping_over_DS_Team_members</name>
        <label>Looping over DS Team members</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_DS_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_queue_member_is_a_group_or_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_group_id_is_empty_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop is used to store user Id&apos;s of group members which is a member of DS Team Queue.</description>
        <name>Looping_over_group_members_to_store_Id</name>
        <label>Looping over group members to store Id</label>
        <locationX>534</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_group_members_from_groups_in_DS_Team_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_current_user_Id_in_recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Notification_body_on_request_submission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Notification_Recipients</name>
        <label>Get Active Notification Recipients</label>
        <locationX>1084</locationX>
        <locationY>2147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_active_notification_recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Team_Approval_notification_type</name>
        <label>Get DS Team Approval notification type</label>
        <locationX>1084</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_DS_Team_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_to_DS_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DS_Team_members</name>
        <label>Get DS Team members</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_over_DS_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_DS_Team_queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element is used to get DS Team queue.</description>
        <name>Get_DS_Team_queue</name>
        <label>Get DS Team queue</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DS_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DS_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_group_members_from_groups_in_DS_Team_Queue</name>
        <label>Get group members from groups in DS Team Queue</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_over_group_members_to_store_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>GroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_DS_Team_Member_and_Assigned_Date</name>
        <label>Update Assigned DS Team Member and Assigned Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Assigned_to_DS_Team_Member__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_notification_need_to_be_send_or_Pick_Record_operation_is_performed</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DS_Team_Approval_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pick_Record__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pick_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBodyOnApproval</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Owner.FirstName} {!$Record.Owner.LastName},
The Client Contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; for &quot;{!$Record.Account.Name}&quot; created by you has been approved.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnRejection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Owner.FirstName} {!$Record.Owner.LastName},
The Client Contact &quot;{!$Record.FirstName} {!$Record.LastName}&quot; for &quot;{!$Record.Account.Name}&quot; created by you has been rejected.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyOnRequestSubmission</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear DS Team, 
A contact record, {!$Record.FirstName} {!$Record.LastName} has created by {!$Record.Owner.FirstName} {!$Record.Owner.LastName}. Please verify all necessary information.</text>
    </textTemplates>
    <variables>
        <name>GroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelevantNotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
