LinKreta_POC_Repository/force-app/main/default/flows/EA_Login_As_a_Partner_From_Login_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SwitchUserProfile</name>
        <label>SwitchUserProfile</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>SwitchUserProfile_Cls</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_SwitchUserProfileReturnString</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_while_changing_Profile_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eaUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoginAsEA</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerUserId</name>
            <value>
                <elementReference>LoginAsPartner_PL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SwitchUserProfile_Cls</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SwitchUserProfile2</name>
        <label>SwitchUserProfile</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <actionName>SwitchUserProfile_Cls</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check2_SwitchUserProfileReturnString</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_while_changing_Profile_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eaUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isLoginAsEA</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerUserId</name>
            <value>
                <elementReference>LoginAsPartner_PL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SwitchUserProfile_Cls</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Login_Option_Selected_Myself</name>
        <label>Assign Login Option Selected - Myself</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varPartnerLogin_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Myself</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_POI_Point_of_Initialization_for_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Login_Option_Selected_Partner</name>
        <label>Assign Login Option Selected - Partner</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varPartnerLogin_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_POI_Point_of_Initialization_for_Success</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Radio_LoginAs_Myself</name>
        <choiceText>Login as Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radio_LoginAs_Partner</name>
        <choiceText>Login as a Partner</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>We need to check if the User trying to access this function has been setup to login as a Partner with the respective Partners designated.</description>
        <name>Can_the_User_Login_as_a_Partner</name>
        <label>Can the User Login as a Partner?</label>
        <locationX>1304</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>What_is_the_POI_Point_of_Initilization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Cannot Login</defaultConnectorLabel>
        <rules>
            <name>Yes_Can_Login</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EA_Partner_Login_Mapper_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Selection</targetReference>
            </connector>
            <label>Yes - Can Login</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check2_SwitchUserProfileReturnString</name>
        <label>Check2 SwitchUserProfileReturnString</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Returned_while_changing_Profile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SwitchUserProfile2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_User_Login_as_Myself</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SwitchUserProfileReturnString</name>
        <label>Check SwitchUserProfileReturnString</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Error_Returned_while_changing_Profile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SwitchUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_User_Login_as_Partner</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Earlier_Partner_Login_User_Id_Null</name>
        <label>Is Earlier Partner Login User Id Null?</label>
        <locationX>1766</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>StopNoPartnersAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SwitchUserProfile2</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Earlier_Partner_Login_User_Id_Null2</name>
        <label>Is Earlier Partner Login User Id Null?</label>
        <locationX>2294</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SwitchUserProfile2</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login_As_Who</name>
        <label>Login As Who?</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>SwitchUserProfile2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Login as Myself</defaultConnectorLabel>
        <rules>
            <name>Login_as_a_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoginAsWho_MySelf_Partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Radio_LoginAs_Partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwitchUserProfile</targetReference>
            </connector>
            <label>Login as a Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_POI_Point_of_Initialization_for_Success</name>
        <label>What is the POI (Point of Initialization) for Success?</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>POI for Success - Login Screen</defaultConnectorLabel>
        <rules>
            <name>POI_for_Success_Global_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PointOfInitialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalAction</stringValue>
                </rightValue>
            </conditions>
            <label>POI for Success - Global Action</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need to know if this flow is being launched as a Login Flow at Login or via the Quick Action after Login. Additionally, we also check if the User trying to access this function is an EA (Executive Administrator).</description>
        <name>What_is_the_POI_Point_of_Initialization_User_Type</name>
        <label>What is the POI (Point of Initialization) &amp; User Type?</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Login Screen + Not an EA</defaultConnectorLabel>
        <rules>
            <name>Global_Action_EA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PointOfInitialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalAction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EA_Partner_Login_Mapper_Records</targetReference>
            </connector>
            <label>Global Action + EA</label>
        </rules>
        <rules>
            <name>Login_Screen_EA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PointOfInitialization</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EA_Partner_Login_Mapper_Records</targetReference>
            </connector>
            <label>Login Screen + EA</label>
        </rules>
        <rules>
            <name>Global_Action_Not_an_EA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PointOfInitialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalAction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StopNotAnEA</targetReference>
            </connector>
            <label>Global Action + Not an EA</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_POI_Point_of_Initilization</name>
        <label>What is the POI (Point of Initilization)?</label>
        <locationX>2030</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Is_Earlier_Partner_Login_User_Id_Null2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>POI - Login Screen</defaultConnectorLabel>
        <rules>
            <name>POI_Global_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PointOfInitialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalAction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Earlier_Partner_Login_User_Id_Null</targetReference>
            </connector>
            <label>POI - Global Action</label>
        </rules>
    </decisions>
    <description>This flow has been created as part of the LinKreta initiative and is a part of the function to support an EA (Executive Administrator) to login as a Partner. This flow will be used directly as a Login Flow and will be used as a Sub Flow to be initialized from a Global Action.


Prashant: 15-May-2024 || Updated, to get EA Partners details using the Public Group, to Switch EA user profile dynamically.

Prashant: 21-May-2024 || Updated flow, to call SwitchUserProfile_Cls class even if (IsAnExecutriveAdmin__c = true + No Partner found + PartnerLogin_UserId__c != null) so that the earlier Logged in Partner Permissions can be removed, EA Config record can be deleted (As that EA is no longer will be an EA) &amp; to mark IsAnExecutiveAdminEA__c = false

Prashant: 22-May-2024 || Change to Get EA Partners from EAPartnerLogin_Mapper__c Object instead of getting it from EAEmpId_Partners_Group (We will not create and use that group now)

Prashant: 27-May-2024 ||  Change done to display error on screen if error is returned from SwitchUserProfile Method</description>
    <dynamicChoiceSets>
        <name>LoginAsPartner_PL_LOV</name>
        <collectionReference>Get_EA_Partner_Login_Mapper_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>PartnerUserName__c</displayField>
        <object>EAPartnerLogin_Mapper__c</object>
        <valueField>PartnerUser__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varBoolean_LoginInAs_OptionDisplay</name>
        <dataType>String</dataType>
        <expression>IF
(
	AND
	(
		{!PointOfInitialization} = &quot;GlobalAction&quot;,
		ISBLANK({!$User.PartnerLogin_UserID__c})
	),
	&quot;Partner&quot;,
	&quot;Myself &amp; Partner&quot;
)</expression>
    </formulas>
    <formulas>
        <name>varPartnerLogin_LastLoginDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$User.PartnerLogin_LastLoginDateTime__c}</expression>
    </formulas>
    <formulas>
        <name>varPartnerLogin_LoggedInUser_DisplayMsg</name>
        <dataType>String</dataType>
        <expression>IF
(
	{!PointOfInitialization} = &apos;GlobalAction&apos;,
	{!$User.PartnerLogin_UserFullName__c} &amp; &apos; | &apos; &amp; {!$User.PartnerLogin_UserName__c},
	&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>varPartnerLogin_PartnerUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.PartnerLogin_UserID__c}</expression>
    </formulas>
    <interviewLabel>EA | Login As a Partner - From Login Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EA | Login As a Partner - From Login Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EA_Partner_Login_Mapper_Records</name>
        <label>Get EA Partner Login Mapper Records</label>
        <locationX>1304</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_the_User_Login_as_a_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EAUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerUserStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EAPartnerLogin_Mapper__c</object>
        <sortField>PartnerUserEmail__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>EA_User_Login_as_Myself</name>
        <label>EA User - Login as Myself</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Login_Option_Selected_Myself</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PartnerLogin_LastLoginDateTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerLogin_UserID__c</field>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>EA_User_Login_as_Partner</name>
        <label>EA User - Login as Partner</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Login_Option_Selected_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PartnerLogin_LastLoginDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerLogin_UserID__c</field>
            <value>
                <elementReference>LoginAsPartner_PL</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Returned_while_changing_Profile_Screen</name>
        <label>Error Returned while changing Profile_Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_while_changing_Profile_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 18, 18);&quot;&gt;Some Error occured in assigning necessary Partner permissions to EA User. Please contact System Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_while_changing_Profile_Screen</name>
        <label>Error while changing Profile_Screen</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_while_changing_Profile_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;Some Error occured in assigning necessary Partner permissions to EA User. Please contact System Administrator.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 18, 18); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Selection</name>
        <label>Partner Selection</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Login_As_Who</targetReference>
        </connector>
        <fields>
            <name>LoginAsWho_MySelf_Partner</name>
            <choiceReferences>Radio_LoginAs_Myself</choiceReferences>
            <choiceReferences>Radio_LoginAs_Partner</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Radio_LoginAs_Myself</defaultSelectedChoiceReference>
            <fieldText>Who do you want to Login As?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varBoolean_LoginInAs_OptionDisplay</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Myself &amp; Partner</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_do_you_want_to_Login_As</name>
            <choiceReferences>Radio_LoginAs_Partner</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Radio_LoginAs_Partner</defaultSelectedChoiceReference>
            <fieldText>Who do you want to Login As?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varBoolean_LoginInAs_OptionDisplay</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partner</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LoginAsPartner_PL</name>
            <choiceReferences>LoginAsPartner_PL_LOV</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Radio_LoginAs_Partner</elementReference>
            </defaultValue>
            <fieldText>Please select the Partner you wish to Login As</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoginAsWho_MySelf_Partner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Radio_LoginAs_Partner</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Login</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StopNoPartnersAssigned</name>
        <label>Stop - No Partners Assigned</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_StopNoPartnersAssigned</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; color: rgb(228, 5, 5); font-size: 20px;&quot;&gt;Login as a Partner | Not Allowed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;You are authorized to Login as a Partner but NO Partners have been setup for your User account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Please contact your Salesforce.com Administrator for assistance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StopNotAnEA</name>
        <label>Stop - Not an EA</label>
        <locationX>1348</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_StopNotAnEA</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(228, 5, 5); font-family: sans-serif;&quot;&gt;Login as a Partner | Not Allowed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;You are not authorized to Login as a Partner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_POI_Point_of_Initialization_User_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PointOfInitialization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPartnerLogin_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
