LinKreta_POC_Repository/force-app/main/default/flows/Enquiry_Update_Expertise_Enquiry_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Enquiry_Expertise</name>
        <label>Add Enquiry Expertise</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>EnquiryExpertise.Enquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryExpertise.Expertise_Master__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_expertise_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryExpertise.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_expertise_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryExpertiseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EnquiryExpertise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseForDedupeCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_selected_expertise_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseForDedupeCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_selected_expertise_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Enquiry_Type_ExpertiseForDedupe</name>
        <label>Add Enquiry Type/ExpertiseForDedupe</label>
        <locationX>510</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Get_Enquiry_Record.Enquiry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enquiry_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Enquiry_Record.Enquiry_Expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpertiseToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expertise_Label_and_Value</name>
        <label>Add Expertise Label and Value</label>
        <locationX>598</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ExpertiseLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Expertise_master_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpertiseValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Expertise_master_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Expertise_master_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enquiry_is_converted_or_not</name>
        <label>Check Enquiry is converted or not</label>
        <locationX>423</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Expertise_Master_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Converted</defaultConnectorLabel>
        <rules>
            <name>Enquiry_is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Screen</targetReference>
            </connector>
            <label>Enquiry is Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_enquiry_expertise_records_or_not</name>
        <label>Delete enquiry expertise records or not</label>
        <locationX>510</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Create_Enquiry_Expertise_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action Required</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_the_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_enquiry_expertise_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_all_Enquiry_Expertise_records</targetReference>
            </connector>
            <label>Yes-Delete the records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expertise_record_found</name>
        <label>Expertise record found?</label>
        <locationX>796</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Record not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Expertise_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expertise_Master_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Expertise_master_records</targetReference>
            </connector>
            <label>Yes-Expertise found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Expertise_records_found_or_not</name>
        <label>Selected Expertise records found or not?</label>
        <locationX>510</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Get_all_enquiry_expertise_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected_Expertise_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Expertise_Master_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_selected_expertise_records</targetReference>
            </connector>
            <label>Yes-Selected Expertise found</label>
        </rules>
    </decisions>
    <description>This screen flow is used to select Expertise and Enquiry Type on enquiry detail page.
[Suraj Kumar 30-04-2024]: Replaced &quot;ExpertiseForDeDupe__c&quot; field with &quot;Enquiry_Expertise__c&quot;. Added Error screen if user tries to use that flow on converted enquiry.</description>
    <dynamicChoiceSets>
        <name>EnquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Enquiry_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpertiseChoices</name>
        <collectionReference>Get_Expertise_Master_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ExpertiseMaster__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ExpertiseToUpdate</name>
        <dataType>String</dataType>
        <expression>LEFT({!ExpertiseForDedupeCheck}, LEN( {!ExpertiseForDedupeCheck} ) -1 )</expression>
    </formulas>
    <interviewLabel>Enquiry | Update Expertise/Enquiry Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry | Update Expertise/Enquiry Type</label>
    <loops>
        <name>Loop_over_Expertise_master_records</name>
        <label>Loop over Expertise master records</label>
        <locationX>510</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Expertise_Master_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Expertise_Label_and_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Enquiry_expertise_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_selected_expertise_records</name>
        <label>Loop over selected expertise records</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Selected_Expertise_Master_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Enquiry_Expertise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_enquiry_expertise_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enquiry_Expertise_records</name>
        <label>Create Enquiry Expertise records</label>
        <locationX>510</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Add_Enquiry_Type_ExpertiseForDedupe</targetReference>
        </connector>
        <inputReference>EnquiryExpertiseCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_Enquiry_Expertise_records</name>
        <label>Delete all Enquiry Expertise records</label>
        <locationX>378</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Enquiry_Expertise_records</targetReference>
        </connector>
        <inputReference>Get_all_enquiry_expertise_records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_enquiry_expertise_records</name>
        <label>Get all enquiry expertise records</label>
        <locationX>510</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_enquiry_expertise_records_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enquiry_Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_expertise_records</name>
        <label>Get Enquiry expertise records</label>
        <locationX>510</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expertise_semicolon_separated_string</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enquiry_Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_Record</name>
        <label>Get Enquiry Record</label>
        <locationX>423</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Enquiry_is_converted_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetchinh expertise master records to make a choice set for user to select expertise values.</description>
        <name>Get_Expertise_Master_Records</name>
        <label>Get Expertise Master Records</label>
        <locationX>796</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expertise_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertiseMaster__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Expertise_Master_records</name>
        <label>Get Selected Expertise Master records</label>
        <locationX>510</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Expertise_records_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedExpertiseValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertiseMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This update element is used to update the &quot;Enquiry Type&quot; on enquiry record.</description>
        <name>Update_Enquiry_Record</name>
        <label>Update Enquiry Record</label>
        <locationX>510</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>Get_Enquiry_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>818</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultScreen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(234, 10, 10);&quot;&gt;Cannot process your request.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FaultScreen_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Expertise_and_Enquiry_Type</name>
        <label>Select Expertise and Enquiry Type</label>
        <locationX>510</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Expertise_Master_records</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Type</name>
            <choiceReferences>EnquiryType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Enquiry_Record.Enquiry_Type__c</elementReference>
            </defaultValue>
            <fieldText>Enquiry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expertise</name>
            <extensionName>c:fsc_dualListBox3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>ExpertiseLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Expertise</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>48.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsStringList</name>
                <value>
                    <elementReference>SemicolonSeparatedExpertiseToList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedExpertiseValues</assignToReference>
                <name>selectedOptionsStringList</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stop_Screen</name>
        <label>Stop Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StopScreen_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(234, 18, 18);&quot;&gt;Cannot process your request.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StopScreen_Body</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;We cannot add Expertise and Enquiry Type in converted Enquiry.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success_Screen</label>
        <locationX>510</locationX>
        <locationY>2522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(9, 157, 39); font-size: 28px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessScreen_Body</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Your request has been processed &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;successfully &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Enquiry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>297</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Expertise_semicolon_separated_string</name>
        <label>Expertise semicolon separated string</label>
        <locationX>510</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Select_Expertise_and_Enquiry_Type</targetReference>
        </connector>
        <flowName>General_Purpose_Parse_a_String_Multi_Picklist_Expression_to_Collection</flowName>
        <inputAssignments>
            <name>DelimiterUsed</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextReceivedForParsing</name>
            <value>
                <elementReference>Get_Enquiry_Record.Enquiry_Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SemicolonSeparatedExpertiseToList</assignToReference>
            <name>ParsedTextCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BlankList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryExpertise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enquiry_Expertise__c</objectType>
    </variables>
    <variables>
        <name>EnquiryExpertiseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enquiry_Expertise__c</objectType>
    </variables>
    <variables>
        <name>ExpertiseForDedupeCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpertiseLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpertiseValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedExpertiseValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemicolonSeparatedExpertiseToList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
