LinKreta_POC_Repository/force-app/main/default/flows/Flow_to_create_Account_Growth_Strategy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>EA_logged_in_as_partner</name>
        <label>EA logged in as partner</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Growth_strategy_cc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Growth_strategy_c</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>clientRecordChoiseSetCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>keyAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PartnerId18Digits</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.PartnerLogin_UserID__c})</expression>
    </formulas>
    <interviewLabel>Flow to create Account Growth Strategy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to create Account Growth Strategy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Growth_strategy_c</name>
        <label>Create Account Growth strategy c</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>account_Growth_Strategy_RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccountGrowthStrategy</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Entity__c</field>
            <value>
                <elementReference>Client_Entity.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Responsibility__c</field>
            <value>
                <elementReference>responsibilityLeader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Growth_Strategy_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PartnerId18Digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Update__c</field>
            <value>
                <elementReference>Status_Update</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Growth_Strategy__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Growth_strategy_cc</name>
        <label>Create Account Growth strategy c</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>account_Growth_Strategy_RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccountGrowthStrategy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Entity__c</field>
            <value>
                <elementReference>Client_Entity.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_Responsibility__c</field>
            <value>
                <elementReference>responsibilityLeader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Growth_Strategy_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Update__c</field>
            <value>
                <elementReference>Status_Update</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Growth_Strategy__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Plan</name>
        <label>Get Account Plan</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Account_Growth_Strategy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Plan__c</object>
        <outputAssignments>
            <assignToReference>keyAccountId</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Msg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Account_Growth_Strategy</name>
        <label>New Account Growth Strategy</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EA_logged_in_as_partner</targetReference>
        </connector>
        <fields>
            <name>Account_Growth_Strategy</name>
            <fieldText>Account Growth Strategy</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Growth_Strategy_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Growth_Strategy_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Growth Strategy Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Client_Entity</name>
                    <choiceReferences>clientRecordChoiseSetCollection</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Client Entity</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Action</name>
                    <fieldText>Action</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Growth_Strategy_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Update</name>
                    <fieldText>Status/Update</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Completion_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>responsibilityLeader</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GT_Responsibility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Responsibility Leader</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account_Growth_Strategy__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>redirectToAccountGrowthStrategy</name>
        <label>redirectToAccountGrowthStrategy</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecorsId</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>account_Growth_Strategy_RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_Growth_Strategy_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>keyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
