LinKreta_POC_Repository/force-app/main/default/flows/Flow_to_Create_New_GT_Client_Competitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Duplicate</name>
        <label>Remove Duplicate</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>DuplicateRemove</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Gt_Client_Compititor</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__ListOfRecords</typeName>
            <typeValue>ExpertisePL__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__ListObj</typeName>
            <typeValue>ExpertisePL__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ListOfRecords</name>
            <value>
                <elementReference>get_Expertise_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameOfFields</name>
            <value>
                <stringValue>Id,Name,LOV__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameOfObject</name>
            <value>
                <stringValue>ExpertisePL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>respectiveField</name>
            <value>
                <stringValue>LOV__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRemove</nameSegment>
        <outputParameters>
            <assignToReference>returnApexListFromRemoveDupliacte</assignToReference>
            <name>ListObj</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>EA_logged_in_as_partner</name>
        <label>EA_logged_in_as_partner</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_GT_Client_Competitors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_GT_Client_Competitors_As_Partner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClientRecordChoiseCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KeyAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>GT Client Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Bill To Client</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollectionChoiseOfExpertise</name>
        <collectionReference>returnApexListFromRemoveDupliacte</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>ExpertisePL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PartnerId18Digits</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Get_Logged_In_User_Info.PartnerLogin_UserID__c})</expression>
    </formulas>
    <interviewLabel>Flow to Create New GT Client Competitor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Create New GT Client Competitor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GT_Client_Competitors</name>
        <label>Create GT Client Competitors</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>GT_Client_Competitors</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccountPlanScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Entity_Name__c</field>
            <value>
                <elementReference>ClientChoise.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compete_Partner_Name__c</field>
            <value>
                <elementReference>Compete_Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Fee__c</field>
            <value>
                <elementReference>Estimated_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise_Text__c</field>
            <value>
                <elementReference>Expertise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Competitor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Line__c</field>
            <value>
                <elementReference>Service_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_of_Wallet__c</field>
            <value>
                <elementReference>Share_of_Wallett</elementReference>
            </value>
        </inputAssignments>
        <object>GT_Client_Competitors__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GT_Client_Competitors_As_Partner</name>
        <label>Create GT Client Competitors</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>GT_Client_Competitors</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccountPlanScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Entity_Name__c</field>
            <value>
                <elementReference>ClientChoise.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compete_Partner_Name__c</field>
            <value>
                <elementReference>Compete_Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Fee__c</field>
            <value>
                <elementReference>Estimated_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise_Text__c</field>
            <value>
                <elementReference>Expertise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Competitor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PartnerId18Digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Line__c</field>
            <value>
                <elementReference>Service_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_of_Wallet__c</field>
            <value>
                <elementReference>Share_of_Wallett</elementReference>
            </value>
        </inputAssignments>
        <object>GT_Client_Competitors__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Plan</name>
        <label>get Account Plan</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Expertise_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Plan__c</object>
        <outputAssignments>
            <assignToReference>KeyAccountId</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Expertise_Record</name>
        <label>get Expertise Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOV__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertisePL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User_Info</name>
        <label>Get Logged-In User Info</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_logged_in_as_partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Handle_Error_Message</name>
        <label>Handle Error Message</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Gt_Client_Compititor</name>
        <label>New Gt Client Compititor</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Logged_In_User_Info</targetReference>
        </connector>
        <fields>
            <name>New_GT_Client_Competitors</name>
            <fieldText>Compete Firm</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_GT_Client_Competitors_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Competitor_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Compete Firm</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ClientChoise</name>
                    <choiceReferences>ClientRecordChoiseCollection</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Client Entity</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Estimated_Fee</name>
                    <dataType>Number</dataType>
                    <fieldText>Estimated Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_GT_Client_Competitors_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Line</name>
                    <dataType>String</dataType>
                    <fieldText>Offering</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Compete_Partner_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Compete Partner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Expertise</name>
                    <choiceReferences>CollectionChoiseOfExpertise</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Expertise</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Share_of_Wallett</name>
                    <dataType>String</dataType>
                    <fieldText>Share of Wallet (%) in Offering</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Alphabets not allowed&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX( {!Share_of_Wallett} ,&quot;[^a-z A-Z]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>redirectToAccountPlanScreen</name>
        <label>redirectToAccountPlanScreen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToAccountPlan</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GT_Client_Competitors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>expertise_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expertiseRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ExpertisePL__c</objectType>
    </variables>
    <variables>
        <name>expertiseRecordCollectionfromApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GT_Client_Competitors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnApexListFromRemoveDupliacte</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpertisePL__c</objectType>
    </variables>
    <variables>
        <name>selectedexpertiseRecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
