LinKreta_POC_Repository/force-app/main/default/flows/Flow_to_Update_SME_SMEG_Expertise_related_to_Account_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>remove_Duplicate</name>
        <label>remove Duplicate</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>DuplicateRemove</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Other_Enquiry_Areas</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__ListOfRecords</typeName>
            <typeValue>SME_PL__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__ListObj</typeName>
            <typeValue>SME_PL__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ListOfRecords</name>
            <value>
                <elementReference>Get_SME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameOfFields</name>
            <value>
                <stringValue>Id,Name,LOV__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NameOfObject</name>
            <value>
                <stringValue>SME_PL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>respectiveField</name>
            <value>
                <stringValue>LOV__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRemove</nameSegment>
        <outputParameters>
            <assignToReference>returnRecordCollectionFromDuplicateApex</assignToReference>
            <name>ListObj</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignment_Of_Record_Id</name>
        <label>assignment Of Record Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Enquiry_Areas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_SMEG_Expertise</name>
        <label>Assignment of SMEG | Expertise</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SMEG_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_SMEG_Record.LOV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_SMEG_Record.ExpertiseLOV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_entity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EA_logged_in_as_partner</name>
        <label>EA_logged_in_as_partner</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Create_Record_Of_Other_Enquiry_Areas_On_Account_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_Of_Other_Enquiry_Areas_On_Account_Plan_as_Partner_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Bhavishya Basantwani - 17/08/2023</description>
    <dynamicChoiceSets>
        <name>SMECollectionChoiceSet</name>
        <collectionReference>returnRecordCollectionFromDuplicateApex</collectionReference>
        <dataType>String</dataType>
        <displayField>LOV__c</displayField>
        <object>SME_PL__c</object>
        <valueField>LOV__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PartnerId18Digits</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Get_Logged_In_User_Info.PartnerLogin_UserID__c})</expression>
    </formulas>
    <interviewLabel>Flow to Update SME| SMEG| Expertise related to Account Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Update SME| SMEG| Expertise related to Account Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_Of_Other_Enquiry_Areas_On_Account_Plan</name>
        <label>Create Record Of Other Enquiry Areas On Account Plan</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <assignRecordIdToReference>EnquiryAreaOfAccountPlan</assignRecordIdToReference>
        <connector>
            <targetReference>RedirectToAccountPlan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Name__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Fee_INR_lakhs__c</field>
            <value>
                <elementReference>Expected_Fee_INR_lakhs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise_Text__c</field>
            <value>
                <elementReference>Expertise_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Other_Enquiry_Area_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client_contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMEG_Text__c</field>
            <value>
                <elementReference>SMEG_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SME_Text__c</field>
            <value>
                <elementReference>SMeLookup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Other_Enquiry_Areas__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_Of_Other_Enquiry_Areas_On_Account_Plan_as_Partner_Owner</name>
        <label>Create Record Of Other Enquiry Areas On Account Plan</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignRecordIdToReference>EnquiryAreaOfAccountPlan</assignRecordIdToReference>
        <connector>
            <targetReference>RedirectToAccountPlan</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity_Name__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Fee_INR_lakhs__c</field>
            <value>
                <elementReference>Expected_Fee_INR_lakhs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise_Text__c</field>
            <value>
                <elementReference>Expertise_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Other_Enquiry_Area_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PartnerId18Digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Client_contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMEG_Text__c</field>
            <value>
                <elementReference>SMEG_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SME_Text__c</field>
            <value>
                <elementReference>SMeLookup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Other_Enquiry_Areas__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Plan</name>
        <label>get Account Plan</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Of_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Plan__c</object>
        <outputAssignments>
            <assignToReference>KeyAccountId</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Client_Record_Type</name>
        <label>get Client Record Type</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>clientRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SME_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_entity</name>
        <label>get entity</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Client_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>entityRegion</assignToReference>
            <field>Gx_Platinum_Gx_Gold_Cx__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User_Info</name>
        <label>Get Logged-In User Info</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_logged_in_as_partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Enquiry_Areas</name>
        <label>Get Other Enquiry Areas</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Other_Enquiry_Areas__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SME</name>
        <label>Get SME</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>remove_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOV__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SME_PL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SME_Records</name>
        <label>Get SME Records</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SMEG_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOV__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SMeLookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SME_PL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SMEG_Record</name>
        <label>get SMEG Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_SMEG_Expertise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SME_Records.Sub_Expertise_PL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubExpertisePL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Logged_In_User_Info</targetReference>
        </connector>
        <fields>
            <name>New_Other_Enquiry_Area_5</name>
            <fieldText>Additional Opportunity (Not on LinKreta)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Other_Enquiry_Area_5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Message</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Are you sure you want to proceed with these values?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Client | {!clientName}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Record Type&lt;/strong&gt;&amp;nbsp;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt; | {!clientRecordTypeName}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Client Contact | {!get_Contact.Name}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;﻿&lt;/strong&gt;-----------------------------------------------------------------------------------------------------------------------------------------------------------&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Expertise | &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 9pt;&quot;&gt;{!Expertise_Text}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;SMEG | &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 9pt;&quot;&gt;{!SMEG_text}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;SME | &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;{!SMeLookup.selectedChoiceValues}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Other_Enquiry_Areas</name>
        <label>New Other Enquiry Areas</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Contact</targetReference>
        </connector>
        <fields>
            <name>New_Other_Enquiry_Areaa</name>
            <fieldText>Additional Opportunity (Not on LinKreta)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Other_Enquiry_Areaa_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupCompo</name>
                    <extensionName>c:parentCompOfLookupShowRealtedContactsOfAccount</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>keyAccountId</name>
                        <value>
                            <elementReference>KeyAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountId</assignToReference>
                        <name>accountId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>contactId</assignToReference>
                        <name>contactId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Other_Enquiry_Areas_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Other_Enquiry_Areas_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Enquiry_Area_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Additional Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Other_Enquiry_Areas_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Fee_INR_lakhs</name>
                    <dataType>Number</dataType>
                    <fieldText>Expected Fee (INR lakhs)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>SMeLookup</name>
                    <choiceReferences>SMECollectionChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>SME</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RedirectToAccountPlan</name>
        <label>RedirectToAccountPlan</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Back_To_Account_Plan</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>EnquiryAreaOfAccountPlan</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account_Plan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnquiryAreaOfAccountPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>entityRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Expertise_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnRecordCollectionFromDuplicateApex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SME_PL__c</objectType>
    </variables>
    <variables>
        <name>selectedSMERecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SME_Lov_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMEG_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMERecordCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SME_PL__c</objectType>
    </variables>
</Flow>
