LinKreta_POC_Repository/force-app/main/default/flows/Job_Enquiry_Flow_to_Update_MOM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_BD_Activity_Apex</name>
        <label>Client BD Activity Apex</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <actionName>salesforceToWCGT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Client_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ClientFaultHandlerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eventsId</name>
            <value>
                <elementReference>ClientMeetingRecords.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>salesforceToWCGT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sObject_Check</name>
        <label>sObject Check</label>
        <locationX>3680</locationX>
        <locationY>134</locationY>
        <actionName>salesforceToWCGTHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sObject_on_which_Flow_Willl_Run</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>salesforceToWCGTHelper</nameSegment>
        <outputParameters>
            <assignToReference>sObjectName</assignToReference>
            <name>outputMember</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_EA_Id</name>
        <label>Add EA Id</label>
        <locationX>4758</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_user_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_user_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_relevant_meeting_Id</name>
        <label>Add relevant meeting Id</label>
        <locationX>930</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>RelevantMeetingIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_event_relation_record_to_get_relevant_meeting.EventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_event_relation_record_to_get_relevant_meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_Id</name>
        <label>Add user Id</label>
        <locationX>4758</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Relationship_Team_to_store_User_Id.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Relationship_Team_to_store_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_meeting_Id</name>
        <label>Adding meeting Id</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MeetingId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_meetings_without_MOM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_meetings_without_MOM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if there is meeting without MOM added</description>
        <name>Check_Client_Contact_meetings_found_or_not</name>
        <label>Check Client Contact meetings found or not</label>
        <locationX>3218</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Screen_for_no_Client_Contact_meetings_found_without_MOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Client Contact Meeting Not Found Without MOM</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_Contact_Meeting_Found_Without_MOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_meeting_records_without_MOM_added</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Contact_Meetings</targetReference>
            </connector>
            <label>Yes-Client Contact Meeting Found Without MOM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is meeting without MOM added</description>
        <name>Check_Client_meetings_found_or_not</name>
        <label>Check Client meetings found or not</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Screen_for_no_Client_meetings_found_without_MOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Client Meeting Not Found Without MOM</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_Meeting_Found_Without_MOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relevant_Client_Meetings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientMeetings</targetReference>
            </connector>
            <label>Yes-Client Meeting Found Without MOM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_User_is_record_owner_or_not</name>
        <label>Check if the User is record owner or not</label>
        <locationX>4670</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>StopSubmissionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUser18DigitId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client_Contact_Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentEaPartner18DigitId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentUser18DigitId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Contact_DS_Team_Approval_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Contact_DS_Team_Approval_Status</name>
        <label>Client Contact DS Team Approval Status</label>
        <locationX>4274</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Client_Contact_Screen_For_DS_Team_not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Contact_meeting_records</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is meeting record related to this Client Contact.</description>
        <name>Client_Contact_Meeting_Record_Related_to_Object</name>
        <label>Client Contact Meeting Record Related to Object</label>
        <locationX>3746</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Client_Contact_Screen_for_no_meetings_found_related_to_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Client Contact Meeting Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_Contact_Meeting_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Contact_meeting_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Contact_meeting_records_without_MOM_added</targetReference>
            </connector>
            <label>Yes - Client Contact Meeting Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_DS_Team_Approval_Status</name>
        <label>Client DS Team Approval Status</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Client_Screen_For_DS_Team_not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Record.DS_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Client_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_meeting_records</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is meeting record related to this Client</description>
        <name>Client_Meeting_Record_Related_to_Object</name>
        <label>Client Meeting Record Related to Object</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Client_Screen_for_no_meetings_found_related_to_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Client Meeting Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_Meeting_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_meeting_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_meeting_records_without_MOM_added</targetReference>
            </connector>
            <label>Yes - Client Meeting Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_Attendees_is_Empty</name>
        <label>Copy 1 of Copy 1 of Check Attendees is Empty</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Client_meeting_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ClientAttendees.userIdToSend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientCheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Attendee_one_Error_Screen</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Two_Attendees_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientMeetingRecords.firstSelectedRow.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientAttendees.userIdToSend</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientCheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Attendee_one_Error_Screen</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Two Attendees Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Check_Attendees_is_Empty</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Check Attendees is Empty</label>
        <locationX>2690</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Update_Client_Contact_meeting_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ClientContactAttendees.userIdToSend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientContactCheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Attendee_one_Error_Screen</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Two_Attendees_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientContactMeetingRecords.firstSelectedRow.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientContactAttendees.userIdToSend</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientContactCheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Attendee_one_Error_Screen</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Two Attendees Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>sObject_on_which_Flow_Willl_Run</name>
        <label>sObject on which Flow Willl Run</label>
        <locationX>3680</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Record</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Contact_Record</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>[Suraj Kumar 19-08-2023]: Added validations before adding MOM on Job. | W-002171
[Suraj Kumar 09-04-2024]: Removed outcomes for Job and Opportunity objects. Backup version : v30</description>
    <environments>Default</environments>
    <formulas>
        <name>ClientActualDuration</name>
        <dataType>Number</dataType>
        <expression>( {!ClientActual_End_Date_Time} - {!ClientActual_Start_Date_Time} ) * 24 * 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>clientAdditionalClientPriorities_InterestsLenghtBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientClient_s_priorities_and_any_additional_Interests_in_our_services})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>ClientCheckAttendeesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!ClientAttendees.userIdToSend})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ClientContactActualDuration</name>
        <dataType>Number</dataType>
        <expression>( {!ClientContactActual_End_Date_Time} - {!ClientContactActual_Start_Date_Time} ) * 24 * 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>clientContactCheckAttendeesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!ClientContactAttendees.userIdToSend})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ClientContactEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(  {!ClientContactActual_End_Date_Time} )</expression>
    </formulas>
    <formulas>
        <name>ClientEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ClientActual_End_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>clientMeetingAgendLenghtBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Client1_Meeting_Agenda})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>clientMeetingNotesLengthBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>clientNextStepsActionItemsLenghtBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Client1Next_Steps_Action_Items})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>ClientsPriorities_AnyAdditionalInterests_in_our_serviceLengthBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientContact_Client_s_priorities_and_any_additional_Interests_in_our_service})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>CurrentEaPartner18DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.PartnerLogin_UserID__c})</expression>
    </formulas>
    <formulas>
        <name>CurrentUser18DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>meetingAgendaLenghtBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientContactMeeting_Agenda})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>meetingNotesLengthBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientContactMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>nextStepsActionItemsLengthBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientContactNext_Steps_Action_Items})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>recommendationsTakeawaysLenghtBool</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ClientContactRecommendations_Takeaways})&gt;255, False, True)</expression>
    </formulas>
    <formulas>
        <name>StartTimeGreaterThanEndTimeClient</name>
        <dataType>Boolean</dataType>
        <expression>{!ClientActual_Start_Date_Time} &lt; {!ClientActual_End_Date_Time}</expression>
    </formulas>
    <formulas>
        <name>StartTimeGreaterThanEndTimeClientContact</name>
        <dataType>Boolean</dataType>
        <expression>{!ClientContactActual_Start_Date_Time} &lt; {!ClientContactActual_End_Date_Time}</expression>
    </formulas>
    <interviewLabel>Job &amp; Enquiry | Flow to Update MOM {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Job &amp; Enquiry | Flow to Update MOM</label>
    <loops>
        <name>Loop_over_event_relation_record_to_get_relevant_meeting</name>
        <label>Loop over event relation record to get relevant meeting</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_event_relation_records_related_to_meeting_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_relevant_meeting_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Relevant_Client_Meetings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_meetings_without_MOM</name>
        <label>Loop over meetings without MOM</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Client_meeting_records_without_MOM_added</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_meeting_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_event_relation_records_related_to_meeting_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Relationship_Team_to_store_User_Id</name>
        <label>Loop over Relationship Team to store User Id</label>
        <locationX>4670</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Contact_Relationship_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_user_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Records_associated_with_Relationship_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_user_records</name>
        <label>Loop over user records</label>
        <locationX>4670</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_User_Records_associated_with_Relationship_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_EA_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_the_User_is_record_owner_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Client_Contact_meeting_records</name>
        <label>Get Client Contact meeting records</label>
        <locationX>3746</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Contact_Meeting_Record_Related_to_Object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientContactFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_meeting_records_without_MOM_added</name>
        <label>Get Client Contact meeting records without MOM added</label>
        <locationX>3218</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_Contact_meetings_found_or_not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientContactFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Contact_Record</name>
        <label>Get Client Contact Record</label>
        <locationX>4670</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Relationship_Team_Members</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientContactFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_meeting_records</name>
        <label>Get Client meeting records</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Meeting_Record_Related_to_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_meeting_records_without_MOM_added</name>
        <label>Get Client meeting records without MOM added</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_meetings_without_MOM</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Record</name>
        <label>Get Client Record</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_DS_Team_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_Team_Members</name>
        <label>Get Contact Relationship Team Members</label>
        <locationX>4670</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Relationship_Team_to_store_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_event_relation_records_related_to_meeting_records</name>
        <label>Get event relation records related to meeting records</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_event_relation_record_to_get_relevant_meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>In</operator>
            <value>
                <elementReference>MeetingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Client_Meetings</name>
        <label>Get Relevant Client Meetings</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Client_meetings_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelevantMeetingIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records_associated_with_Relationship_Team_Members</name>
        <label>Get User Records associated with Relationship Team Members</label>
        <locationX>4670</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_user_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartnerLogin_UserID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Contact_meeting_record</name>
        <label>Update Client Contact meeting record</label>
        <locationX>2954</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Update_Client_Contact_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientContactFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientContactMeetingRecords.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_s_priorities_and_Interests__c</field>
            <value>
                <elementReference>ClientContact_Client_s_priorities_and_any_additional_Interests_in_our_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>ClientContactActual_End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_agenda__c</field>
            <value>
                <elementReference>ClientContactMeeting_Agenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_notes__c</field>
            <value>
                <elementReference>ClientContactMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Action_Items__c</field>
            <value>
                <elementReference>ClientContactNext_Steps_Action_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendations_Takeaways__c</field>
            <value>
                <elementReference>ClientContactRecommendations_Takeaways</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>ClientContactActual_Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update Last Activity Date Time field which will be used to check last activity time on client Contact record and further operations.</description>
        <name>Update_Client_Contact_record</name>
        <label>Update Client Contact record</label>
        <locationX>2954</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>ClientContact_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ClientContactFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_meeting_record</name>
        <label>Update Client meeting record</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Client_BD_Activity_Apex</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ClientFaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientMeetingRecords.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_s_priorities_and_Interests__c</field>
            <value>
                <elementReference>ClientClient_s_priorities_and_any_additional_Interests_in_our_services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>ClientActual_End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_agenda__c</field>
            <value>
                <elementReference>Client1_Meeting_Agenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_notes__c</field>
            <value>
                <elementReference>ClientMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Action_Items__c</field>
            <value>
                <elementReference>Client1Next_Steps_Action_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>ClientActual_Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update LastMOMUpdatedTime field which will be used to check last activity time on enquiry record and further operations.</description>
        <name>Update_Client_record</name>
        <label>Update Client record</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>ClientMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_MOM_Updated_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Client_Contact_Meetings</name>
        <label>Client Contact Meetings</label>
        <locationX>2690</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Client_Contact_meeting</targetReference>
        </connector>
        <fields>
            <name>ClientContactMeetingRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Client_Contact_meeting_records_without_MOM_added</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-c28d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-d031&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Actual Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-d303&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actual End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Contact_Screen_For_DS_Team_not_Approved</name>
        <label>Client Contact Screen For DS Team not Approved</label>
        <locationX>4802</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ClientDSTeam_Not_Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You will be able to add MOM After DS Team Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Contact_Screen_for_no_meetings_found_related_to_Object</name>
        <label>Client Contact Screen for no meetings found related to Object</label>
        <locationX>4274</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ClientMeetingNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No meetings found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Screen_For_DS_Team_not_Approved</name>
        <label>Client Screen For DS Team not Approved</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientDSTeam_Not_Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You will be able to add MOM After DS Team Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Screen_for_no_meetings_found_related_to_Object</name>
        <label>Client Screen for no meetings found related to Object</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientMeetingNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No meetings found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientContact_Message</name>
        <label>ClientContact_Message</label>
        <locationX>2954</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientContactSuccess_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 134, 16); background-color: rgb(255, 255, 255);&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientContactMessage_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Start Date Time | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClientContactActual_Start_Date_Time}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Actual End Date Time&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClientContactActual_End_Date_Time}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Duration | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClientContactActualDuration} minutes&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientContactFaultHandlerScreen</name>
        <label>ClientContactFaultHandlerScreen</label>
        <locationX>3218</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ClientHeader_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(250, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ClientMessage_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientFaultHandlerScreen</name>
        <label>ClientFaultHandlerScreen</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientHeader_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(250, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientMessage_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientMeetings</name>
        <label>Client Meetings</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Client_meeting</targetReference>
        </connector>
        <fields>
            <name>ClientMeetingRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Relevant_Client_Meetings</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-c28d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-d031&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Actual Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-d303&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actual End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClientMessage</name>
        <label>ClientMessage</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientSuccess_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 134, 16); font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientMessage_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Start Date Time | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClientActual_Start_Date_Time}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Actual End Date Time&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ClientActual_End_Date_Time}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Duration | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!ClientActualDuration} minutes&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Attendee_one_Error_Screen</name>
        <label>Copy 4 of Attendee one Error_Screen</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_4_of_One_Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Attendee_one_Error_Screen</name>
        <label>Copy 5 of Attendee one Error_Screen</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_5_of_One_Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Attendee_one_Error_Screen</name>
        <label>Copy 6 of Attendee one Error_Screen</label>
        <locationX>2426</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_6_of_One_Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Attendee_one_Error_Screen</name>
        <label>Copy 7 of Attendee one Error_Screen</label>
        <locationX>2690</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_7_of_One_Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Client_Contact_meeting</name>
        <label>Edit Client Contact meeting</label>
        <locationX>2690</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Check_Attendees_is_Empty</targetReference>
        </connector>
        <fields>
            <name>ClientContactMOM_HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Minutes of Meeting&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientContactMOM_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The purpose is to track key outcomes and devise the future roadmap basis feedback received from each client &lt;/span&gt;Contact &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;engagement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientContactAttendees</name>
            <extensionName>c:multiLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>ClientContactMeetingRecords.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEnquiry</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Edit_Client_Contact_meeting_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Client_Contact_meeting_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientContactActual_Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ClientContactMeetingRecords.firstSelectedRow.Start_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Start Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 44, 44); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Actual Start Date Time can&apos;t be greater than or equal to Actual End Date Time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!StartTimeGreaterThanEndTimeClientContact}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Client_Contact_meeting_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientContactActual_End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ClientContactMeetingRecords.firstSelectedRow.End_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual End Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 89, 89); background-color: rgb(255, 255, 255);&quot;&gt;Actual Start date time and&amp;nbsp;Actual End date time cannot be in future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ClientContactEndDate} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ClientContactMeeting_Agenda</name>
            <fieldText>Meeting Agenda</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(251, 49, 18); background-color: rgb(255, 255, 255);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!meetingAgendaLenghtBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientContactMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags</name>
            <fieldText>Meeting Notes (including Potential Obstacles, Challenges &amp; Red Flags)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!meetingNotesLengthBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientContactRecommendations_Takeaways</name>
            <fieldText>Recommendations &amp; Takeaways</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!recommendationsTakeawaysLenghtBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientContact_Client_s_priorities_and_any_additional_Interests_in_our_service</name>
            <fieldText>Clients priorities and any additional Interests in our services</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ClientsPriorities_AnyAdditionalInterests_in_our_serviceLengthBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientContactNext_Steps_Action_Items</name>
            <fieldText>Next Steps &amp; Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!nextStepsActionItemsLengthBool}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Client_meeting</name>
        <label>Edit Client meeting</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Check_Attendees_is_Empty</targetReference>
        </connector>
        <fields>
            <name>ClientMOM_HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Minutes of Meeting&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientMOM_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The purpose is to track key outcomes and devise the future roadmap basis feedback received from each client engagement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientAttendees</name>
            <extensionName>c:multiLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>ClientMeetingRecords.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEnquiry</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Edit_Client_meeting_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Client_meeting_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientActual_Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ClientMeetingRecords.firstSelectedRow.Start_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Start Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Actual Start Date Time can&apos;t be greater than or equal to Actual End Date Time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!StartTimeGreaterThanEndTimeClient}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Client_meeting_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClientActual_End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ClientMeetingRecords.firstSelectedRow.End_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual End Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 89, 89); background-color: rgb(255, 255, 255);&quot;&gt;Actual Start date time and&amp;nbsp;Actual End date time cannot be in future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ClientEndDate} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Client1_Meeting_Agenda</name>
            <fieldText>Agenda</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!clientMeetingAgendLenghtBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientMeeting_Notes_including_Potential_Obstacles_Challenges_Red_Flags</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!clientMeetingNotesLengthBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClientClient_s_priorities_and_any_additional_Interests_in_our_services</name>
            <fieldText>Additional Client Priorities and Interests</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!clientAdditionalClientPriorities_InterestsLenghtBool}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Client1Next_Steps_Action_Items</name>
            <fieldText>Next Steps &amp; Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 49, 18);&quot;&gt;Character Limit Exceeded, it should be less than 255.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!clientNextStepsActionItemsLenghtBool}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_no_Client_Contact_meetings_found_without_MOM</name>
        <label>Screen for no Client Contact meetings found without MOM</label>
        <locationX>3746</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ClientIsMeetingNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;All the meetings already have MOM added&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_no_Client_meetings_found_without_MOM</name>
        <label>Screen for no Client meetings found without MOM</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClientIsMeetingNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;All the meetings already have MOM added&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Client</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StopSubmissionScreen</name>
        <label>StopSubmissionScreen</label>
        <locationX>5066</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StopSubmissionHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StopSubmissionBody</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Only the Contact Owner or the Relationship Team member can fill the MOM.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3554</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sObject_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addJobTeamMemberTaskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>For client Kickoff meeting validation (No contact is added)</description>
        <name>ContactIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>internalKickoffMeetingTaskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MeetingId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>meetingsWithoutMOMCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openTaskCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quipTaskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelevantMeetingIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowAttendeesVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowClientContactAttendeesVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTwoAttendees</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringTooLongError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Unveil_Celebration_Event</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
