LinKreta_POC_Repository/force-app/main/default/flows/keyAccountRelationshipMap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_ClintIds</name>
        <label>Add ClintIds</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Gt_ClintIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Gt_ClintIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Gt_Clint_Group_Ids</name>
        <label>add Gt Clint Group Ids</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Gt_Clint_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Gt_Clint_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KeyAccountId</name>
        <label>KeyAccountId</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAccountPlan.Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EA_logged_in_as_partner</name>
        <label>EA logged-in as partner</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>createkeyAccountRelationshipMap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Logged_In_User_Info.PartnerLogin_UserID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asPartnercreatekeyAccountRelationshipMap</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>clientContact</name>
        <collectionReference>GetContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varRelationshipStrengthfromIntrohive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Strength_from_Introhive_H__c</picklistField>
        <picklistObject>Account_Plan_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarRelationshipStrengthwithinLinKreta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Strength_within_LinKreta__c</picklistField>
        <picklistObject>Account_Plan_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PartnerId18Digits</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Get_Logged_In_User_Info.PartnerLogin_UserID__c})</expression>
    </formulas>
    <interviewLabel>Account_Plan__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>keyAccountRelationshipMap</label>
    <loops>
        <name>Get_Gt_ClintIds</name>
        <label>Get Gt ClintIds</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Client</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ClintIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>KeyAccountId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_Gt_Clint_Group</name>
        <label>loop on Gt Clint Group</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Gt_Client_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Gt_Clint_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Client</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>asPartnercreatekeyAccountRelationshipMap</name>
        <label>asPartnercreatekeyAccountRelationshipMap</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>Key_Account_Relationship_RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>Client_Contacts.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_RL__c</field>
            <value>
                <elementReference>Relationship_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PartnerId18Digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Strength_from_Introhive_H__c</field>
            <value>
                <elementReference>Relationship_Strength_from_Introhive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Strength_within_LinKreta__c</field>
            <value>
                <elementReference>Relationship_Strength_within_LinKreta</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Plan_Contact__c</object>
    </recordCreates>
    <recordCreates>
        <name>createkeyAccountRelationshipMap</name>
        <label>createkeyAccountRelationshipMap</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>Key_Account_Relationship_RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>redirectToAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Contact__c</field>
            <value>
                <elementReference>Client_Contacts.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GT_RL__c</field>
            <value>
                <elementReference>Relationship_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Strength_from_Introhive_H__c</field>
            <value>
                <elementReference>Relationship_Strength_from_Introhive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Strength_within_LinKreta__c</field>
            <value>
                <elementReference>Relationship_Strength_within_LinKreta</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Plan_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gt_ClintIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GT_Client_Group__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User_Info</name>
        <label>Get Logged-In User Info</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_logged_in_as_partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountPlan</name>
        <label>getAccountPlan</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gt_Client_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>keyAccountRelationshipMapScreeb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Gt_Client_Group</name>
        <label>Gt Client Group</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_Gt_Clint_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_360__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountPlan.Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>errorMessage</name>
        <label>errorMessage</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>keyAccountRelationshipMapScreeb</name>
        <label>Relationship Map</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Logged_In_User_Info</targetReference>
        </connector>
        <fields>
            <name>Relationship_Map</name>
            <fieldText>Relationship Map</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Map_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Contacts</name>
                    <choiceReferences>clientContact</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Relationship_Strength_from_Introhive</name>
                    <choiceReferences>varRelationshipStrengthfromIntrohive</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Introhive Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Relationship_Map_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship_Leader</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Relationship Leader</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GT_RL__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account_Plan_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Relationship_Strength_within_LinKreta</name>
                    <choiceReferences>VarRelationshipStrengthwithinLinKreta</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>LinKreta Relationship Strength</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>redirectToAccount</name>
        <label>redirectToAccount</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToAccountPlan</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Key_Account_Relationship_RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GtClientGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Key_Account_Relationship_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
