LinKreta_POC_Repository/force-app/main/default/flows/Notify_To_New_Client_Owner_After_Create_New_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_New_Client_Owner</name>
        <label>Send Custom Notification New Client Owner</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_to_new_Client_owner_assign_by_SBP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NewClient_OwnerChanged_Notification_BySBP.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIdVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You are assigned as Enquiry Owner </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You are Now Owner Of Enquiry. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_new_Client_owner_assign_by_SBP</name>
        <label>Send Email to new Client owner assign by SBP</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>Lead.Email_Alert_to_Notify_Enquiry_Owner_that_a_new_client_record_assigned_to_you</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Alert_to_Notify_Enquiry_Owner_that_a_new_client_record_assigned_to_you</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailWhenNotReceiveDataFromCapiQOrMCA</name>
        <label>SendEmailWhenNotReceiveDataFromCapiQOrMCA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Lead.Email_Alert_to_Notify_When_Not_Receive_Data_From_CapiQ_Or_MCA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Alert_to_Notify_When_Not_Receive_Data_From_CapiQ_Or_MCA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>NewClient_ownerId</name>
        <label>NewClient_ownerId</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_New_Client_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Condition_Check</name>
        <label>Condition Check</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DataNotReceiveFromCapIqorMCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Database_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Database_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.External_Database_Source__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry_Business_Partner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry_Business_Partner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailWhenNotReceiveDataFromCapiQOrMCA</targetReference>
            </connector>
            <label>DataNotReceiveFromCapIqorMCA</label>
        </rules>
        <rules>
            <name>SBP_Assign_To_New_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewClient_OwnerChanged_Notification_BySBP</targetReference>
            </connector>
            <label>SBP Assign To New Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_IsFound_OrNot</name>
        <label>Notification_IsFound_OrNot</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewClient_OwnerChanged_Notification_BySBP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewClient_ownerId</targetReference>
            </connector>
            <label>Notification Found</label>
        </rules>
    </decisions>
    <description>Phase-1 |</description>
    <environments>Default</environments>
    <formulas>
        <name>DetailPageLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Notify To New Client Owner After Create (New Version ) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Client - After Create Update | Notify To New Client Owner &amp; SBP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>NewClient_OwnerChanged_Notification_BySBP</name>
        <label>NewClient_OwnerChanged_Notification_BySBP</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_IsFound_OrNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewClientOwnerChanged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Id_Field_For_OData</name>
        <label>Update Lead Id Field For OData</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Condition_Check</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Reject_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal / External Discussions</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leadID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Id_Field_For_OData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Duplicate_New_Client_Already_Converted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyNewClientOwnerTemplate_Channel_Manual</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;You have successfully created the new client {!$Record.NewClientNo__c} - {!$Record.Company} and are now the designated owner. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Name :‎‎‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ {!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Email:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;         {!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Mobile: ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎  ‎ ‎ ‎&amp;nbsp;‎ ‎ {!$Record.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Sector : ‎ ‎ ‎ ‎&amp;nbsp;&amp;nbsp;‎ ‎ ‎ ‎ ‎&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &amp;nbsp;{!$Record.Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link: {!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTemplateWebAndEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Hello &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;You are now owner of new client &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Company Name :‎‎‎‎ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Email : &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;{!$Record.Email}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Website : &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;‎&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;{!$Record.Website}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;To access the record into Salesforce, please click the link below :&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;https://grantthornton--lkdv1dvn.sandbox.lightning.force.com//{!$Record.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt; GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newClientOwnerTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;You are assigned as the designated owner for the new client {!$Record.NewClientNo__c} - {!$Record.Company}. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;&amp;nbsp;Prospect Name :‎‎‎‎&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;&amp;nbsp;Prospect Email:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;&amp;nbsp;Sector :&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;To access the record on LinKreta, please click on the link: {!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are now owner of new client {!$Record.FirstName} {!$Record.LastName}
Company Name :‎‎‎‎ ‎ ‎{!$Record.Company}</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Dear {!$Record.Industry_Business_Partner__r.FirstName} {!$Record.Industry_Business_Partner__r.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;A new client {!$Record.NewClientNo__c} - {!$Record.Company} has been created in your sector through the {!$Record.LeadSource} channel. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Prospect Name:‎‎‎‎&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Prospect Email:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Inquiry Description:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;{!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;To access the record on LinKreta, please click on the link:&lt;/span&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;&amp;nbsp;{!DetailPageLink}&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Next Steps:&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;* Please validate and update the client name with the registered name of the entity, if required.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;* Kindly click on &apos;Enrich Data from External Database&apos; button on the details page to enrich the New Client. If no results are found, kindly use other external databases such as VCCEdge or EMIs to enrich the details manually.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;* To understand the client&apos;s nature of business, kindly reach out with the prospect over the mail and enter the solution, expertise and sub-expertise on LinKreta.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;* Kindly discuss with the NSL (if required), and assign the New Client owner that can take the engagment forward.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 10px; font-family: sans-serif;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmailTemplateSector</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear Outbound Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;A new client {!$Record.NewClientNo__c} - {!$Record.Company} has been created through the {!$Record.LeadSource} channel. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Name&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;‎‎{!$Record.FirstName} {!$Record.LastName}‎&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Email&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Inquiry Description&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Next Steps:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;* Kindly enrich the prospect details and add the sector on the details page of the &apos;New Client&apos; on LinKreta.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;* Once all the required fields are filled, please save the &apos;New Client&apos; and LinKreta will map the Sector Business Partner and National Sector Leader.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateCapIqOrMCA</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.Industry_Business_Partner__r.FirstName} {!$Record.Industry_Business_Partner__r.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;A new client  {!$Record.NewClientNo__c} - {!$Record.Company} has been created in your sector through the {!$Record.LeadSource} channel. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Name :‎‎‎‎&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Email :‎‎‎‎&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Mobile :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!$Record.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link : {!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Kindly click on &apos;Enrich Data from External Database&apos; button on the details page to enrich the New Client.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;If no results are found, kindly use other external platforms such as VCCEdge or EMIs to update the client name with the registered name of the entity, if required.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Please enrich the client financials, corporate tree structure (investors, subsidiaries &amp;amp; joint ventures) and key management personnel through the external platforms on the New Client manually.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>4</triggerOrder>
    <variables>
        <name>GroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerId_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SectorUserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
