LinKreta_POC_Repository/force-app/main/default/flows/NSL_Email_Notification_New_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Industry_is_Changing</name>
        <label>Industry is Changing</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>( 1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Industry__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Industry_Leader_Mapping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Industry_Leader_Mapping_Available</name>
        <label>Industry Leader Mapping Available</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Industry_Leader_Mapping_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Industry_Leader_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Leader_And_IBP_on_New_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V16 lkdv1qan Sandbox || Added Changes to handle Industry Dynamically | V14 |Phase-1 | Phase-1 Trigger Order(3)</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>DetailPageLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() +2</expression>
    </formulas>
    <interviewLabel>NSL Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NSL Email Notification (New Version)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Industry_Leader_Mapping</name>
        <label>Get Industry Leader Mapping</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Industry_Leader_Mapping_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Industry_Leader_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating NSL and SBP for Auto and Auto Component sector.</description>
        <name>Update_Leader_And_IBP_on_New_Client</name>
        <label>Update Leader And IBP on New Client</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Industry_Business_Partner__c</field>
            <value>
                <elementReference>Get_Industry_Leader_Mapping.Industry_Business_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Leader__c</field>
            <value>
                <elementReference>Get_Industry_Leader_Mapping.Industry_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Industry_is_Changing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NSLEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.Industry_Leader__r.FirstName} {!$Record.Industry_Leader__r.LastName},&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;A new client {!$Record.NewClientNo__c} - {!$Record.Company} has been created in your sector through the {!$Record.LeadSource} channel. Please find the details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Propect Name :‎‎‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎&amp;nbsp;‎ ‎ ‎ ‎ ‎ ‎ ‎ {!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Prospect Email: ‎ ‎‎‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎ ‎‎ ‎ ‎ ‎ ‎&amp;nbsp;  &amp;nbsp;‎ ‎{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Inquiry Description : ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ {!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;{!DetailPageLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SectorCoordinatorEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello &lt;strong&gt;{!$Record.Industry_Business_Partner__r.FirstName}{!$Record.Industry_Business_Partner__r.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;New C&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;lient &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;({!$Record.NewClientNo__c}) - {!$Record.Company}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;Created Via &quot;&lt;strong&gt;{!$Record.LeadSource}&lt;/strong&gt;&quot; Dated : &lt;strong style=&quot;color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;  {!CreatedDate} with following details :-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Email : ‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎{!$Record.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Mobile No :&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎ ‎&lt;/span&gt;{!$Record.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company Name :‎‎‎‎&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎‎&amp;nbsp;&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&amp;nbsp;‎&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;‎‎{!$Record.Company}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sector :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Industry__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Remarks :&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎&amp;nbsp;‎‎{!$Record.Remark__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;To access the record into Salesforce, please click the link below:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DetailPageLink}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); background-color: rgba(32, 33, 36, 0.04); font-size: 14px; font-family: Roboto, sans-serif;&quot;&gt;Please pick up the New Client record at the earliest&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks &amp;amp; Regards&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;GT Team&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>3</triggerOrder>
    <variables>
        <name>NSLNotificationVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NSLVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SectorVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
