LinKreta_POC_Repository/force-app/main/default/flows/Record_Triggered_Client_Contact_Team_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_to_Coll</name>
        <label>Assign to Coll</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updCollCTR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CTR_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_All_CTR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Upd_CTR</name>
        <label>Assign Upd CTR</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CTR_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_All_CTR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CTR_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Coll</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Default_Error</name>
        <label>Default Error</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Contact_Team_Records</name>
        <label>Check Contact Team Records</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>CTR_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_All_CTR</targetReference>
            </connector>
            <label>CTR Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Triggering_Conditions</name>
        <label>Check Triggering Conditions</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaing_Manager_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Team</targetReference>
            </connector>
            <label>Campaing Manager Added</label>
        </rules>
    </decisions>
    <description>[Suraj Kumar 18-10-2023]: Added custom error message for all DMLs in fault path.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Triggered : Client Contact Team After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered : Client Contact Team After Save</label>
    <loops>
        <name>Loop_on_All_CTR</name>
        <label>Loop on All CTR</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Check_Contact_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Upd_CTR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Contact_Team</name>
        <label>Check Contact Team</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Team_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Contact_Relationship_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Default_Error</targetReference>
        </faultConnector>
        <inputReference>updCollCTR</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Triggering_Conditions</targetReference>
        </connector>
        <object>Client_Contact_Relationship_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CTR_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
    <variables>
        <name>updCollCTR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Contact_Relationship_Team__c</objectType>
    </variables>
</Flow>
