LinKreta_POC_Repository/force-app/main/default/flows/Screen_Flow_Create_Generic_Campaign_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social_media</name>
        <choiceText>Social media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social media</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>campaignType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Campaign__c</picklistField>
        <picklistObject>Campaign_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Create Generic Campaign Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Create Generic Campaign Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Campaign_Request</name>
        <label>Create Campaign Request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>campaignReqID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Create_Campaign_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Campaign_Objective__c</field>
            <value>
                <elementReference>Campaign_objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Title__c</field>
            <value>
                <elementReference>Campaign_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Generic__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_to_Market__c</field>
            <value>
                <elementReference>Solution_to_Market</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Audience__c</field>
            <value>
                <elementReference>Target_Audeince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Campaign__c</field>
            <value>
                <elementReference>Campaign_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Create_Campaign_Request</name>
        <label>Get Create Campaign Request</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignReqID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Campaign_Request_Screen</name>
        <label>Campaign Request Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Campaign_Request</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Campaign Request&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Request_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Campaign_Request_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Campaign Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Campaign_Request_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Type</name>
                    <choiceReferences>campaignType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campaign Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Solution_to_Market</name>
            <dataType>String</dataType>
            <fieldText>Solution to Market</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Audeince</name>
            <fieldText>Target Audeince</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign_objective</name>
            <fieldText>Campaign Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(231, 18, 18);&quot;&gt;Error occurred !!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(31, 31, 31);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redirectToPage</name>
            <extensionName>c:redirectToRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Create_Campaign_Request.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Campaign Request created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_Request_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>successText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Campaign Request</text>
    </textTemplates>
    <variables>
        <name>campaignReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
