LinKreta_POC_Repository/force-app/main/default/flows/Screen_Flow_Campaign_Submit_for_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Submit_for_Activation_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Submit_for_Activation_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Campaign_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Campaign_Submit_for_Activation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_EA_User</name>
        <label>Assign EA User</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isUserCMEA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Campaign_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Campaign_Found_Successfully</name>
        <label>Check Campaign Found Successfully</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Activation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Campaign_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Activation</targetReference>
            </connector>
            <label>Campaign Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Campaign_Manager</name>
        <label>Check If Campaign Manager</label>
        <locationX>776</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>No_Campaign_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Campaign Manager or EA</defaultConnectorLabel>
        <rules>
            <name>Campaign_Manager_or_EA</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Record.Campaign_Manager__r.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isUserCMEA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Campaign_Found_Successfully</targetReference>
            </connector>
            <label>Campaign Manager or EA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_If_Campaign_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_EA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.PartnerLogin_UserName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Campaign_Record.Campaign_Manager__r.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EA_User</targetReference>
            </connector>
            <label>User is EA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow : Campaign Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow : Campaign Submit for Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Record</name>
        <label>Get Campaign Record</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Campaign_budget</name>
        <label>Update the Campaign budget</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BudgetedCost</field>
            <value>
                <elementReference>Campaign_Budget</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Campaign_Manager</name>
        <label>No Campaign Manager</label>
        <locationX>1106</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 10, 10); font-size: 16px;&quot;&gt;Error!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10); font-size: 14px;&quot;&gt;Only Campaign Manager or Campaign Manager&apos;s EA can submit for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Campaign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>recordError</name>
        <label>recordError</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>recordErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(244, 8, 8);&quot;&gt;Error Occurred !!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(244, 8, 8);&quot;&gt;Something went wrong. Please contact your system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Activation</name>
        <label>Submit for Activation</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_the_Campaign_budget</targetReference>
        </connector>
        <fields>
            <name>Submit_for_Activation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_for_Activation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AnnualCampaignBudget</name>
                    <fieldText>&lt;p&gt;Annual Campaign Budget&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Campaign_Record.Campaign_Budget__r.Annual_Budget__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Campaign_Budget</name>
                    <dataType>Currency</dataType>
                    <fieldText>Campaign Budget</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Campaign budget to execute this campaign. This must be less than the remaining budget.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 18, 18);&quot;&gt;Campaign Budget can&apos;t exceed the remaining budget.&lt;/span&gt;&lt;span style=&quot;color: rgb(240, 11, 11);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Get_Campaign_Record.Remaining_annual_budget__c} &gt; {!Campaign_Budget}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_for_Activation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RemainingBudget</name>
                    <fieldText>&lt;p&gt;Remaining Budget&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Campaign_Record.Remaining_annual_budget__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_for_Activation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_for_Activation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Activation_Error</name>
        <label>Submit for Activation_Error</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(237, 10, 10);&quot;&gt;Error!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(237, 10, 10);&quot;&gt;Please contact with system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Campaign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Activation_Success</name>
        <label>Submit for Activation_Success</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 244, 10); font-size: 16px;&quot;&gt;Success!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 18, 17);&quot;&gt;Campaign &lt;/span&gt;&lt;strong style=&quot;color: rgb(17, 18, 17);&quot;&gt;{!Get_Campaign_Record.Name} &lt;/strong&gt;&lt;span style=&quot;color: rgb(17, 18, 17);&quot;&gt;has been submitted for activation approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back to Campaign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>isUserCMEA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
