LinKreta_POC_Repository/force-app/main/default/flows/Send_Email_alert_If_C_M_creates_tasks_for_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>used to send email alert to assignee when C&amp;M team user creates a task</description>
        <name>Send_email_alert_when_C_M_team_user_creates_a_task</name>
        <label>Send email alert when C&amp;M team user creates a task</label>
        <locationX>182</locationX>
        <locationY>1632</locationY>
        <actionName>Task.Email_alert_when_C_M_team_create_a_task</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Email_alert_when_C_M_team_create_a_task</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Store_group_member_id</name>
        <label>Store group member id</label>
        <locationX>468</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_C_M_Team_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_C_M_Team_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_assignee_is_a_user_or_group</name>
        <label>Check if assignee is a user or group</label>
        <locationX>182</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Get_user_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_assignee</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_task_is_created_for_new_client_or_enquiry</name>
        <label>Check if task is created for new client or enquiry</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_LastActivityTime_on_client_on_task_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enquiry</defaultConnectorLabel>
        <rules>
            <name>New_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lastActivityTime_on_related_contact_record</targetReference>
            </connector>
            <label>New Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_task_is_created_by_C_M_team_member_or_not</name>
        <label>Check task is created by C&amp;M team member or not</label>
        <locationX>380</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMemberIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Client Take-On Preparation Deck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_new_client_record_to_which_task_is_related</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to send email alert when a task is created by C&amp;M team user.
Added updation of lastEnquiryActivityTime field on enquiry on task creation as considering it as a activity on enquiry.

[Suraj Kumar 09-04-2024]: Removed Opportunity related elements. Backup version 17.</description>
    <environments>Default</environments>
    <formulas>
        <name>WhatIdURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.WhatId}</expression>
    </formulas>
    <interviewLabel>Send Email alert to user when Task is created by C&amp;M Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email alert If C&amp;M creates tasks for user</label>
    <loops>
        <name>Loop_Over_C_M_Team_members</name>
        <label>Loop Over C&amp;M Team members</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_C_M_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_group_member_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_task_is_created_by_C_M_team_member_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_C_M_Team_members</name>
        <label>Get C&amp;M Team members</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_C_M_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_C_M_Team_public_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_C_M_Team_public_group</name>
        <label>Get C&amp;M Team public group</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_C_M_Team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_M_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_client_record_to_which_task_is_related</name>
        <label>Get new client record to which task is related</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_assignee_is_a_user_or_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>used to get user record which will be used to get full name of assigned user</description>
        <name>Get_user_record</name>
        <label>Get user record</label>
        <locationX>314</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_task_assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_task_assignee</name>
        <label>Update task assignee</label>
        <locationX>314</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Send_email_alert_when_C_M_team_user_creates_a_task</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Auto Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Assignee__c</field>
            <value>
                <elementReference>Get_user_record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LastActivityTime_on_client_on_task_creation</name>
        <label>Update LastActivityTime on client on task creation</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Client_Activity_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lastActivityTime_on_related_contact_record</name>
        <label>Update lastActivityTime on related contact record</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_C_M_Team_public_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_assignee</name>
        <label>Update task assignee</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Send_email_alert_when_C_M_team_user_creates_a_task</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Auto Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Assignee__c</field>
            <value>
                <stringValue>Market Ecosystem Team</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_task_is_created_for_new_client_or_enquiry</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>ReminderEmailToEOForFindingPartnerTask</name>
            <label>ReminderEmailToEOForFindingPartnerTask</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;The client council team has suggested to carry out certain recommendations while accepting the new client {!Get_new_client_record_to_which_task_is_related.NewClientNo__c} - {!Get_new_client_record_to_which_task_is_related.Company}. Please find the details of the task that has been assigned to you:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Subject Name:&amp;nbsp;&amp;nbsp;              {!$Record.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Description:                     {!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Task Completion Date:    {!$Record.ActivityDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;To access the record on LinKreta, please click on the link: https://grantthornton--lkdv1dvn.sandbox.lightning.force.com/{!$Record.Id}&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Next Steps:&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;* Please complete the task assigned to you before the due date and update the details on the task.&amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;* Once all the details are added on the task, please attach the relevant documents, if required and mark the status as &apos;Completed&apos;.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;* For any clarification, please reach out to the Market Ecosystem team.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px;&quot;&gt;Note:- This is a system generated email. Please do not reply to this mail.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForAddFindingPartnerTaskReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;You have a pending task to add the Finding Partners to the Enquiry team. &lt;/p&gt;&lt;p&gt;Please click on the following link to access the enquiry on LinKreta,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Enquiry | &lt;/strong&gt;{!WhatIdURL}﻿&lt;/p&gt;&lt;p&gt;Note:- This is a System Generated E-Mail. Please do not reply to this mail.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailRecepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
