LinKreta_POC_Repository/force-app/main/default/flows/Send_notification_through_email_to_lead_owner_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_Action_1</name>
        <label>Send Custom Notification Action 1</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_to_Industry_Leader_BUL_ERL_etc</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_CustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>activeRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Industry_Leader_BUL_ERL_etc</name>
        <label>Send Email to Industry Leader, BUL,ERL,etc</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <actionName>SendEmailUsingApex_CLS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>varCcAddresses</name>
            <value>
                <elementReference>ccAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varSaveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTargetObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varTemplateID</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varToAddresses</name>
            <value>
                <elementReference>toAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailUsingApex_CLS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Active_user_Id</name>
        <label>Assign Active user Id</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>activeRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Active_Recipients.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Active_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Adresses</name>
        <label>Assign CC Adresses</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.BUL__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.Efficiency_and_Results_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.Ecosystems_and_Offering_leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.BUL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.Efficiency_and_Results_Leader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Expertise_Masters.Ecosystems_and_Offering_leader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Expertise_Masters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Email_Adresses</name>
        <label>Assign CC Email Adresses</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>toAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Industry_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Industry_Leader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>market.ecosystems@in.gt.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ccAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Solutions.council@in.gt.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Not_Null</name>
        <label>Check User Not Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_ExpertiseForDedupe_String_into_list_of_Expertise</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V19 | Email Alert added | Phase-1</description>
    <environments>Default</environments>
    <formulas>
        <name>DetailPageLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Send notification through email to lead owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send notification NCO channel_manual</label>
    <loops>
        <name>Loop_on_Active_Recipients</name>
        <label>Loop on Active Recipients</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Active_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Active_user_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Expertise_Masters</name>
        <label>Loop on Expertise Masters</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Expertise_Masters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CC_Adresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CC_Email_Adresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_users</name>
        <label>Get Active users</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Active_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomNotificationType</name>
        <label>Get CustomNotificationType</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrgWideEmailAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_EO_SBP_NSL_on_Enquiry_Creation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CustomNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STR_Enquiry_Creation_Email_Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expertise_Masters</name>
        <label>Get Expertise Masters</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Expertise_Masters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>ExpertiseList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ExpertiseMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideEmailAddress</name>
        <label>Get OrgWideEmailAddress</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notification_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Linkreta</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Parse_ExpertiseForDedupe_String_into_list_of_Expertise</name>
        <label>Parse ExpertiseForDedupe String into list of Expertise</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Expertise_Masters</targetReference>
        </connector>
        <flowName>General_Purpose_Parse_a_String_into_list_of_String</flowName>
        <inputAssignments>
            <name>DelimiterUsed</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TextReceivedForParsing</name>
            <value>
                <elementReference>$Record.Enquiry_Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ExpertiseList</assignToReference>
            <name>ParsedTextCollection</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>email_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/p&gt;

&lt;p&gt;You have successfully created the new client {!$Record.NewClientNo__c} - {!$Record.Company} and are now the designated owner. Please find the details below:&lt;/p&gt;

&lt;p&gt;Prospect Name :&amp;lrm;&amp;lrm;&amp;lrm;&amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm;&amp;nbsp;&amp;lrm;&amp;lrm; &amp;lrm;&amp;nbsp; &amp;nbsp; &amp;lrm; {!$Record.FirstName} {!$Record.LastName}&lt;/p&gt;

&lt;p&gt;Prospect Email:&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; {!$Record.Email}&lt;/p&gt;

&lt;p&gt;Prospect Mobile: &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm;&amp;nbsp;&amp;nbsp;&amp;lrm; &amp;lrm; &amp;lrm;&amp;nbsp; &amp;nbsp;{!$Record.MobilePhone}&lt;/p&gt;

&lt;p&gt;Industry : &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm;&amp;nbsp;&amp;nbsp;&amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm; &amp;lrm;&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; {!$Record.Industry__c}&lt;/p&gt;

&lt;p&gt;To access the record on LinKreta, please click on the link: {!DetailPageLink}&lt;/p&gt;

&lt;p&gt;Note:- This is a system generated email. Please do not reply to this mail&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A {!$Record.Enquiry_Type__c} enquiry for client {!$Record.Company} for {!$Record.Enquiry_Expertise__c} created by  {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName} for your urgent attention.</text>
    </textTemplates>
    <triggerOrder>5</triggerOrder>
    <variables>
        <name>activeRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ccAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpertiseList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>toAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
