LinKreta_POC_Repository/force-app/main/default/flows/Update_New_Client_Flow_On_Internal_External_Discussions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calling_BD_Activity_apex_method</name>
        <label>Calling BD Activity apex method</label>
        <locationX>1106</locationX>
        <locationY>2954</locationY>
        <actionName>salesforceToWCGT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_New_client_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>eventsId</name>
            <value>
                <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>salesforceToWCGT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Event_Id</name>
        <label>Assign Event Id</label>
        <locationX>2382</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>EventIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_events.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Getting_relevant_event_id</name>
        <label>Getting relevant event id</label>
        <locationX>2382</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>RelevantEventId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_event_relations.Event.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_event_relations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Meeting</description>
        <name>Meeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAnswer</name>
        <choiceText>No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>---None---</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VoiceMail</name>
        <choiceText>Voice Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voice Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Attendees_is_Empty</name>
        <label>Check Attendees is Empty</label>
        <locationX>842</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Update_Event_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Attendees.userIdToSend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attendee_one_Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Two_Attendees_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.CreatedBy.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Attendees.userIdToSend</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckAttendeesLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Two Attendees Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_meeting_s_status_WCGT_status</name>
        <label>Check meeting&apos;s status WCGT status</label>
        <locationX>1634</locationX>
        <locationY>2522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_pending_error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meeting_Screen_0</targetReference>
            </connector>
            <label>WCGT Status is pending/error</label>
        </rules>
        <rules>
            <name>Status_is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingEvents.firstSelectedRow.WCGTStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BDTimeAlreadySendScreen</targetReference>
            </connector>
            <label>WCGT Status is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NSL_Approval_Status</name>
        <label>Check NSL Approval Status</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.Duplicate_New_Client_Already_Converted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Record_Screen</targetReference>
            </connector>
            <label>Duplicate Record</label>
        </rules>
        <rules>
            <name>Status_is_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.IndustryLeaderApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Under_Approval_Screen</targetReference>
            </connector>
            <label>Status is pending</label>
        </rules>
        <rules>
            <name>Status_is_not_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.IndustryLeaderApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Client_Status_is_Internal_External_Discussions</targetReference>
            </connector>
            <label>Status is not pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_relevant_records</name>
        <label>Check relevant records</label>
        <locationX>2294</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_nulll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Events</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_relevant_event_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordNotFoundScreen</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Based_On_Multiple_Outcome_Check_1</name>
        <label>Decision Based On Multiple Outcome - Check 1</label>
        <locationX>2294</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Answer - No &amp; No</defaultConnectorLabel>
        <rules>
            <name>Answer_Yes_Yes_Or_Yes_No</name>
            <conditionLogic>(1 AND 2) OR  (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_0</targetReference>
            </connector>
            <label>Answer - Yes &amp; Yes Or Yes &amp; No</label>
        </rules>
        <rules>
            <name>Answer_No_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMeetingRecords</targetReference>
            </connector>
            <label>Answer - No &amp; Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Based_On_Multiple_Outcome_Check_2</name>
        <label>Decision Based On Multiple Outcome - Check 2</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Answer - Yes &amp; No</defaultConnectorLabel>
        <rules>
            <name>Answer_Yes_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_want_to_update_information_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Would_you_want_to_add_meeting_takeaways_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMeetingRecords</targetReference>
            </connector>
            <label>Answer - Yes &amp; Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Client_Status_is_Internal_External_Discussions</name>
        <label>New Client Status is Internal External Discussions</label>
        <locationX>3152</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen_For_Converted_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>1 AND( 2 OR 3 OR (4 AND 5)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NotAccept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_logged_in_User_Info.IsAnExecutiveAdminEA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerId18Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_New_Client_Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_New_Client_Record.Duplicate_New_Client_Already_Converted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_To_Get_Client_Choice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allow EA user to do &apos;Client Fitment and Evaluation&apos; when logged-in as Partner.

Removed the duplicate artifacts for retrieving the meeting events and all the subsequent steps. Simplified Decision Tree to Use Default Outcome and removed existing redundancies. Removed the Previous button from the last screen. Added validation for Start and End timings of meetings in the future.
Modified the placement of the Attendees along with Start and End Time.</description>
    <environments>Default</environments>
    <formulas>
        <name>ActualDuration</name>
        <dataType>Number</dataType>
        <expression>( {!EndTime_0} - {!StartTime_0} ) * 24 * 60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CheckAttendeesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Attendees.userIdToSend})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CheckRecordOwnerandCurrentUserIsSame</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Username}={!Get_New_Client_Record.Owner:User.Username}</expression>
    </formulas>
    <formulas>
        <name>CopyStartTimeGretaerThanEndTime</name>
        <dataType>Boolean</dataType>
        <expression>TRUE</expression>
    </formulas>
    <formulas>
        <description>Current date Time</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (3/24)</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!EndTime_0})</expression>
    </formulas>
    <formulas>
        <name>PartnerId18Digits</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Get_logged_in_User_Info.PartnerLogin_UserID__c})</expression>
    </formulas>
    <formulas>
        <name>StartTimeGreaterThanEndTime</name>
        <dataType>Boolean</dataType>
        <expression>{!StartTime_0} &lt; {!EndTime_0}</expression>
    </formulas>
    <formulas>
        <name>User_Is_System_Admin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos;</expression>
    </formulas>
    <interviewLabel>Update New Client Flow On Internal / External Discussions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update New Client Flow On Internal / External Discussions</label>
    <loops>
        <name>Loop_over_event_relations</name>
        <label>Loop over event relations</label>
        <locationX>2294</locationX>
        <locationY>1898</locationY>
        <collectionReference>Get_Event_relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Getting_relevant_event_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_relevant_event_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_events</name>
        <label>Loop over events</label>
        <locationX>2294</locationX>
        <locationY>1490</locationY>
        <collectionReference>GetMeetingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Event_relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Event_relations</name>
        <label>Get Event relations</label>
        <locationX>2294</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_event_relations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>In</operator>
            <value>
                <elementReference>EventIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_logged_in_User_Info</name>
        <label>Get logged-in User Info</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NSL_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Client_Record</name>
        <label>Get New Client Record</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_logged_in_User_Info</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_relevant_event_records</name>
        <label>Get relevant event records</label>
        <locationX>2294</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_relevant_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelevantEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMeetingRecords</name>
        <label>GetMeetingRecords</label>
        <locationX>2294</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_events</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>Subject</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_record</name>
        <label>Update Event record</label>
        <locationX>1106</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Calling_BD_Activity_apex_method</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_s_priorities_and_Interests__c</field>
            <value>
                <elementReference>Client_s_priorities_and_any_additional_Interests_in_our_services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>EndTime_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_agenda__c</field>
            <value>
                <elementReference>Agenda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_notes__c</field>
            <value>
                <elementReference>Meeting_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_Action_Items__c</field>
            <value>
                <elementReference>Next_Steps_Action_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendations_Takeaways__c</field>
            <value>
                <elementReference>Recommendations_Takeaways</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>StartTime_0</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_client_record</name>
        <label>Update New client record</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_you_met_with_client__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_0</name>
        <label>Update Record</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Decision_Based_On_Multiple_Outcome_Check_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultHandlerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Client_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientBackground__c</field>
            <value>
                <elementReference>Client_Background</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrowthPotential__c</field>
            <value>
                <elementReference>Growth_Potential_Of_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowDidYouArriveAThisTentativeFee__c</field>
            <value>
                <elementReference>How_did_you_arrive_at_this_tentative_fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShortSummary__c</field>
            <value>
                <elementReference>Short_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TentativeFee__c</field>
            <value>
                <elementReference>Tentative_Fee_1</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attendee_one_Error_Screen</name>
        <label>Attendee one Error_Screen</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>One_Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px;&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BDTimeAlreadySendScreen</name>
        <label>BDTimeAlreadySendScreen</label>
        <locationX>2162</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 143, 244); font-family: Roboto, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;    This meeting is already submitted for Timesheet entry to WCGT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>1106</locationX>
        <locationY>3170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 134, 16); font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_ConfirmationScreenSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request has been successfully processed and the following fields have been updated:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Start Date Time | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!StartTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Actual End Date Time&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EndTime_0}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Actual Duration | &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ActualDuration} minutes&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Meeting_Screen_0</name>
        <label>Create Meeting Screen</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Attendees_is_Empty</targetReference>
        </connector>
        <fields>
            <name>MOM</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Minutes of Meeting&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The purpose is to track key outcomes and devise the future roadmap basis feedback received from each client engagement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attendees</name>
            <extensionName>c:multiLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventId</name>
                <value>
                    <elementReference>MeetingEvents.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Meeting_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Meeting_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartTime_0</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>MeetingEvents.firstSelectedRow.Start_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Start Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Actual Start Date Time cannot be greater than or equal to Actual End Date Time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!StartTimeGreaterThanEndTime}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Meeting_Screen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndTime_0</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>MeetingEvents.firstSelectedRow.End_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual End Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 89, 89);&quot;&gt;Actual Start date time and &lt;/span&gt;&lt;span style=&quot;color: rgb(250, 89, 89);&quot;&gt;Actual End date time cannot be in future.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!EndDate} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agenda</name>
            <fieldText>Meeting Agenda</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!CharactersErrorMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Agenda}) &lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meeting_Notes</name>
            <fieldText>Meeting Notes (including Potential Obstacles, Challenges &amp; Red Flags)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!CharactersErrorMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Meeting_Notes})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Recommendations_Takeaways</name>
            <fieldText>Recommendations &amp; Takeaways</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!CharactersErrorMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Recommendations_Takeaways})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Client_s_priorities_and_any_additional_Interests_in_our_services</name>
            <fieldText>Client’s priorities and any additional Interests in our services</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!CharactersErrorMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Client_s_priorities_and_any_additional_Interests_in_our_services})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Next_Steps_Action_Items</name>
            <fieldText>Next Steps &amp; Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!CharactersErrorMessage}&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Next_Steps_Action_Items})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Record_Screen</name>
        <label>Duplicate Record Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cannot_Process_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(250, 3, 3);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MessageUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can only change status to &apos;Client Already Accepted&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attendees_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8); font-size: 14px;&quot;&gt;Please fill out at least one attendee other than the Minutes of Meeting Creator&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultHandlerScreen</name>
        <label>FaultHandlerScreen</label>
        <locationX>1370</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(250, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;Request could not be Processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_FaultHandlerScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request could not be processed due to the following Error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meeting_Events</name>
        <label>Meeting Events</label>
        <locationX>1634</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_meeting_s_status_WCGT_status</targetReference>
        </connector>
        <fields>
            <name>MeetingEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_relevant_event_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-fc29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;Start_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-7306&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual Start Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Actual Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-4d3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Actual End Date Time&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actual End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Under_Approval_Screen</name>
        <label>Record Under Approval Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_RecordIsUnderApproval</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 16, 16); font-size: 22px;&quot;&gt;Request could not be processed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_RecordIsUnderApproval</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Message_RecordUnderApproval}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordNotFoundScreen</name>
        <label>RecordNotFoundScreen</label>
        <locationX>2690</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenRecord</name>
            <fieldText>&lt;p&gt;There isn&apos;t any meeting record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_For_Converted_Status</name>
        <label>Screen_For_Converted_Status</label>
        <locationX>4010</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stop_Editing_Record</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(250, 3, 3);&quot;&gt;Cannot Process your Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Fitment_And_Evaluation_Done_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Client Fitment &amp;amp; Evaluation is already Done.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Take On</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Take-On PreWork</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Not_New_Client_Owner</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(18, 1, 1);&quot;&gt;Only the new client owner can perform Client Fitment &amp;amp; Evaluation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CheckRecordOwnerandCurrentUserIsSame</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>User_Is_System_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Locked_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record is already locked.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accept Client</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NotAccept</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DuplicateRecordAlreadyConvertedMsg</name>
            <fieldText>&lt;p&gt;You can only change status to &apos;Client Already Accepted&apos;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_New_Client_Record.Duplicate_New_Client_Already_Converted__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_To_Get_Client_Choice</name>
        <label>Screen To Get Client Choice</label>
        <locationX>2294</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Based_On_Multiple_Outcome_Check_1</targetReference>
        </connector>
        <fields>
            <name>Would_you_want_to_update_information_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you want to update information (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_want_to_add_meeting_takeaways_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you want to add Meeting takeaways (Yes/No)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fields_0</name>
        <label>Update Fields</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_0</targetReference>
        </connector>
        <fields>
            <name>Client_Background</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ClientBackground__c}</stringValue>
            </defaultValue>
            <fieldText>Client Background</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Growth_Potential_Of_Client</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.GrowthPotential__c}</stringValue>
            </defaultValue>
            <fieldText>Growth Potential Of Client</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tentative_Fee_1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.TentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>Tentative Fee</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Tentative Fee cannot be Negative.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR ( {!Tentative_Fee_1} &gt; 0 , {!Tentative_Fee_1} =0  )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>How_did_you_arrive_at_this_tentative_fee</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_New_Client_Record.HowDidYouArriveAThisTentativeFee__c</elementReference>
            </defaultValue>
            <fieldText>How did you arrive at this tentative fee?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Short_Summary</name>
            <defaultValue>
                <stringValue>{!Get_New_Client_Record.ShortSummary__c}</stringValue>
            </defaultValue>
            <fieldText>Summary (Challenges, Opportunities etc)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Client_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>descriptionYesYes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Call Connected {!$Flow.CurrentDateTime}
{!95fd1a7d-caad-41a2-813a-8f2f725de91f}</text>
    </textTemplates>
    <variables>
        <name>AttendeesIds</name>
        <apexClass>AttendeesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CharactersErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Characters should be maximum 225 </stringValue>
        </value>
    </variables>
    <variables>
        <name>CopyEventIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CopyRelevantIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids</name>
        <apexClass>AttendeesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelevantEventId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAttendees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedUsersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowAttendeesVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTwoAttendee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
