LinKreta_POC_Repository/force-app/main/default/flows/User_Before_Update_Update_User_Designation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_User_Records_for_Update</name>
        <label>Check User Records for Update</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_User_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Designation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Designation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Designation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Designation_of_User</targetReference>
            </connector>
            <label>Designation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastDesignationTillDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate - 1}</expression>
    </formulas>
    <interviewLabel>User | Before Update : Update User Designation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User | Before Update : Update User Designation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Designation_of_User</name>
        <label>Update Designation of User</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Last_Designation_Till_Date__c</field>
            <value>
                <elementReference>LastDesignationTillDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Band__c</field>
            <value>
                <elementReference>$Record__Prior.Band__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Designation__c</field>
            <value>
                <elementReference>$Record__Prior.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Expertise__c</field>
            <value>
                <elementReference>$Record__Prior.Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Previous_Band__c</field>
            <value>
                <elementReference>$Record__Prior.Band__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Expertise__c</field>
            <value>
                <elementReference>$Record__Prior.Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Records_for_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Designation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Band__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
